[2017-12-24 09:16] itainoam opened #2 "Amazing work!"
Just a quick thank you. The EP Judge is Incredibly useful.

[2018-01-02 00:46] girishpai opened #4 "two_sum test data (two_sum.tsv) incorrect expected values?"
It looks like few of the test cases have incorrect expected bool values.

For example the 1st test case :
[6, -7, -3, 3, -3, 4, -5]	3	false	TODO

There are two entries (of values 6 and -3) in the array which add upto the target 3. Still the expected value is false.

Apologies if my interpretation of the question was incorrect.

[2018-01-02 01:14] #4 closed, assigned to adnanaziz, tsunghsienlee

[2018-01-07 18:09] girishpai opened #6 "kth_node_in_tree.py placeholder not implemented"
Python version of "Find the Kth node in inorder traversal of binary tree" problem does not have the placeholder method.

[2018-01-07 21:50] #6 closed, assigned to adnanaziz, tsunghsienlee

[2018-01-08 00:44] girishpai opened #7 "Tree node display (binary_tree_to_string) incorrect"
Current implementation of the code to convert a tree node to string in binary_tree_utils.py prints out the node data followed by right child and then left.

Conventionally the left child is always read out first. Easier while debugging.
In case we are following a different convention feel free to close this Issue and reject my pull request.

[2018-01-08 21:37] datbayev opened #10 "Unclear data format to return in Hanoi problem"
The 16.1 problem (The Tower of Hanoi)

In the book It is asked to print out all the moves. But in the [java source](https://github.com/adnanaziz/EPIJudge/blob/master/epi_judge_java/epi/Hanoi.java) code you expect to return `List<List<Integer>>`, which is misleading. I had to dig into `computeTowerHanoiWrapper` function to understand the data format.

Should there be a clarification that each list

[2018-01-09 21:33] #7 closed, assigned to girishpai, tsunghsienlee

[2018-01-14 02:27] zorro786 opened #11 "bst_from_sorted_array test incorrect"
The test checks for exact same level order traversal of the created BST. There could be several different minimal height trees with different level order traversals. What it needs to check is the height of the tree returned.

One example:

	Arg 1: [-19, -17, -15, -12, -8, -7, -6, -5, -4, -1, 1, 2, 3, 4, 6, 7, 9, 12, 13, 17]
	Expected: ["1", "-7", "7", "-15", "-4", "4", "13", "-17", "-8", "-5", "-1

[2018-01-20 23:41] amageed opened #14 "LruCache.java testing expects -1 instead of null"
Working on [LruCache.java](https://github.com/adnanaziz/EPIJudge/blob/3d45fb82bb947c474b6c2d9e3985b28f0beb1772/epi_judge_java/epi/LruCache.java) and returning `null` from the `lookup` function, as shown in the book, will result in a `NullPointerException`. It works fine if `-1` is returned instead.

[2018-01-22 18:22] #11 closed, assigned to adnanaziz

[2018-01-22 21:36] mengxinzhao opened #15 "int_as_array_increment.tsv dataset might miss negative number to verify plus 1 increment?"
Hi,
As I'm coding for int_as_array_increment.cc I think the test cases are missing negative numbers for  plus 1 increment.
The array is defined as vector<int> theoretically there would be cases like <-1, 4 ,5> as  number -145. To plus one  it should produce -144. But if there is more than 2  '-' present in the data , the test case could be seem as  invalid.

The test data so far doesn't seem to in

[2018-01-23 03:10] nischalsamji opened #16 "Organize code according to chapters in EPI"
It would be helpful if the code files are grouped as per the topics/ chapters in EPI books

[2018-01-23 03:17] #15 closed, assigned to adnanaziz

[2018-01-23 03:21] #16 closed, assigned to nobody

[2018-01-27 22:41] zorro786 opened #17 "Paint a Boolean Matrix 18.2 seems missing"
I can't find this problem anywhere. Maybe I am missing something?

[2018-01-27 23:26] #17 closed, assigned to nobody

[2018-02-17 23:09] ataki opened #23 "max_water_trappable.py fails on the book's solution"
First, thanks for creating this. It's been very helpful for my personal interviewing studies!

After implementing both the book's solution and my solution, I've discovered that `max_water_trappable.py` fails for both. However, my solution agrees with the book's solution for the first test case.

Could there be some mistake with the test cases for this problem?

[code]

The implementation the book

[2018-02-17 23:33] tsunghsienlee commented on #23
@ataki You are using the the solution from "Compute the maximum water trapped by a pair of vertical lines" for "Trapping water" so it definitely won't work.

We haven't released the judge data for "Compute the maximum water trapped by a pair of vertical lines" yet but it shall arrives soon as we are still preparing the test data.

Feel free to let us know if you have any other problem.

[2018-02-17 23:33] #23 closed

[2018-02-18 20:57] ataki commented on #23
my mistake, thanks for clarifying!

[2018-02-21 00:26] tsunghsienlee commented on #10
We just update the book to have this reflected.  Close the issue now.

[2018-02-21 00:26] #10 closed

[2018-02-21 00:26] tsunghsienlee commented on #14
We update the book to reflect this so those APIs are more clear.

[2018-02-21 00:26] #14 closed

[2018-02-21 00:26] tsunghsienlee commented on #2
Thanks for the support!

[2018-02-21 00:26] #2 closed

[2018-02-21 21:19] akash-mankar opened #24 "Buy and sell stock once C++"
My bad, you can close this issue, its the nature of Sublime text, in order to change context of which file you want to build you have to explicitly save that file. and the hit build.

[2018-02-21 21:20] akash-mankar commented on #24
I'm using sublime text 3 on MacOS. i.e. Apple LLVM 9.0.0

[2018-02-21 21:35] #24 closed

[2018-02-24 22:45] asafsarid opened #25 "Adding question number prefix to file names?"
Hello,
First of all I would like to say that this judge / practice system is great and really helpful! Thanks for that.
Just one suggestion. I am working with the book, and for every question I need to go to the mapping in the README in order to check which file is used for that question. I think it would be great to add a short prefix such as "q6_1_" for Question 6.1 in the book.
That way it will

[2018-02-24 23:38] tsunghsienlee commented on #25
Hi @asafsarid ,

Thanks for your good words, and sadly that since we change problem ordering every now and then for better organization and new problems might be added during the revisions.  So it is not feasible to add the chapter and problem index into those file.

In the next version of the book, we would like to add those inline inside the book so it will be much easier to find the file you sh

[2018-02-24 23:38] #25 closed

[2018-03-10 22:02] abhishekzambre opened #26 "Script is stuck for Even Odd Array partition (Arrays bootcamp problem)"
When I run script "even_odd_array.py", it is getting stuck and not showing any output. I also observed that PyCharm is giving warning as "Unresolved reference 'test_framework'".

I used below command to run the script.

`python3 even_odd_array.py`

[2018-03-10 22:07] abhishekzambre commented on #26
Nevermind. I re-installed PyCharm and it worked.

[2018-03-10 22:07] #26 closed

[2018-03-11 06:05] Arkanayan opened #27 "res_printer not defined in search_for_min_max_in_array.py"
Traceback (most recent call last):  File "/home/<username>/ds/EPIJudge/epi_judge_python/search_for_min_max_in_array.py", line 27, in <module>
    res_printer=res_printer)
NameError: name 'res_printer' is not defined

[2018-03-11 11:01] metopa commented on #27
Fixed in https://github.com/adnanaziz/EPIJudge/commit/22fc6623306fd2c8419593bf3f83af1ba2883569

[2018-03-11 11:01] #27 closed

[2018-03-11 20:29] gardncl opened #29 "Suggestions from the author of another EPIJudge"
Tsung-Hsien reached out to me over LinkedIn to ask for my comments on this repository after he learned that I had written [this EPI judge for java](https://github.com/gardncl/elements-of-programming-interviews). Here is some general feedback that I have for the current iteration of this project.

# Pros
 * One less thing to install; I required [maven](http://maven.apache.org) to use my repo.
 * An

[2018-03-29 19:36] smellme opened #31 "Exception in thread "main" java.lang.RuntimeException: config.json file not found"
After cloning the EpiJudge I'm getting the following error when running any of the java files:

Exception in thread "main" java.lang.RuntimeException: config.json file not found
	at epi.test_framework.GenericTest.genericTestMain(GenericTest.java:36)
	at epi.test_framework.GenericTest.runFromAnnotations(GenericTest.java:156)
	at epi.BinomialCoefficients.main(BinomialCoefficients.java:16)

I'm using

[2018-03-29 20:19] tsunghsienlee commented on #31
Hi @smellme ,

Thanks for the report, and it is because we add a new configuration file recently but we forget to add that.  I have fixed that in https://github.com/adnanaziz/EPIJudge/commit/ff57394ccc32f5e0b92b76743e6b9fb820f80228.

Please update your EPIJudge to the latest version.

[2018-03-29 20:19] #31 closed

[2018-03-30 05:34] smellme commented on #31
works now, thank you

[2018-04-04 14:10] nischalsamji commented on #29
+1 for organizing program files by chapters. It helps me keep track of the exercises I completed and helps complete exercises chapter by chapter.

[2018-04-19 20:25] nanyahill commented on #29
Sometimes I don't understand a solution and would like to debug the code and see how things work. It would be nice to have the EPIJudge work in debug mode.

[2018-04-19 20:31] tsunghsienlee commented on #29
Hi @nanyahill ,

You are free to use debug mode of your IDE to do that.  This is the whole point of EPI Judge that runs on your computer where you have full control of it.

[2018-04-22 23:42] Brian-Lam opened #35 "Incorrect solution for sort_almost_sorted_array.py"
In the solution for sort_almost_sorted_array.py, we see this:

[code]

However, the first k elements were already added in the first for loop, and they are being inserted again. This means the output will actually duplicate the first k elements.

Running the given solution on input array [2,1,3,4,5] with k=2 confirms the bug, and gives output:
`[1, 1, 2, 2, 3, 4, 5]`

If I'm not mistaken, the seco

[2018-04-23 00:03] Brian-Lam commented on #35
Actually, it seems the solution passes because EPIJudge runs the code with a wrapper that passes in iter(sequence). I had assumed an array was passed in, because the iter was never mentioned in the problem statement.

Feel free to close this Issue (although I think if we were to follow the problem as described in the book, it may not be clear to the reader the solution should be run with an iter a

[2018-04-23 00:30] #35 closed

[2018-04-27 05:36] prepperoni opened #36 "Can't build cpp solution in Visual Studio 2017"
So I followed the steps performed in the youtube video for setting up visual studio 2017 for cpp problems. But when I select "Start without debugging" I get this popup saying my project is out of date and asking whether I want to build them:
![popup](https://user-images.githubusercontent.com/37825069/39346250-f51f0516-49a1-11e8-9683-c58665d2da34.JPG)

When I select "Yes", I get this error:
![attem

[2018-04-29 13:29] philipcraig commented on #36
This internal compiler crash no longer occurs with Visual Studio 2017 15.7.0 Preview 5.0

[2018-04-30 12:26] metopa commented on #36
@philipcraig Thank you for trying the Preview version. We'll mention it in the README.

[2018-05-01 03:14] prepperoni commented on #36
Thanks @philipcraig . I was able to successfully build the project with the preview version as you had mentioned :)

[2018-05-02 20:53] #36 closed

[2018-05-04 13:52] vmishra22 opened #41 "Is Visual Studio 2015 not supported now?"
I am unable to build due to errors in test framework:
1>------ Build started: Project: ZERO_CHECK, Configuration: Debug Win32 ------
1>Build started 5/4/2018 9:42:43 AM.
1>     1>
1>PrepareForBuild:
1>         Creating directory "C:\Users\v1a\epi\EPIJudge\epi_judge_cpp\vs\Debug\".
1>         Creating directory "Win32\Debug\ZERO_CHECK\ZERO_CHECK.tlog\".
1>       InitializeBuildStatus:
1>         Cr

[2018-05-04 20:18] cmercur2 commented on #41
The specific implementation of test meta-programming that was recently added is not supported by MSVC.

Just checkout a previous commit from Dec  30th:
git checkout 345adde576c8f29006c545d00aa633967038fd6d

[2018-05-04 21:19] nanyahill commented on #29
Hi @tsunghsienlee , I normally run the code from the command line using the make <classname>. Please can you tell me how can I run the make command in debug mode?
Also, when running via IDE, I do not see the option to either Run or Debug. I am using IntelliJ.
Thanks.

[2018-05-04 22:58] metopa commented on #41
@vmishra22 @cmercur2 You should try VS2017 15.7.0 Preview 5.0 or MinGW complier.

Sadly, not even the release version of VS2017 is supported - the compiler contains a bug that makes it impossible to compile the project. I strongly suggest you not to fallback to any of old releases - we add many fancy features and fix problems with every beta release. BTW, **the next release is expected to be in th

[2018-05-07 00:28] metopa commented on #41
@vmishra22 In the new release we've listed detailed requirements on Windows compilers in README. Please, open a new issue if you still have problems with this release.

[2018-05-07 00:29] #41 closed

[2018-05-07 17:10] nanyahill commented on #29
Thank you. It was an issue with the way I imported the repo into an already existing IntelliJ project. The Java files were being seen as plain files so there wasn't a debug/run option except when I run from the command line.
Minor (and unrelated) feedback though: I solve the EPI questions in an existing IntelliJ project and I have to switch windows to run my solutions in the EPIJudge from another

[2018-05-18 04:10] bixuanzju opened #43 "IntelliJ IDEA failed to execute tests"
<img width="1127" alt="screen shot 2018-05-18 at 12 08 53" src="https://user-images.githubusercontent.com/1680704/40215657-4d89681a-5a94-11e8-987d-0c71b3f19d42.png">

Not long ago, it was okay, until I upgraded to latest version of EPI Judge. Guess something in the test framework changed?

[2018-05-18 04:14] tsunghsienlee commented on #43
@bixuanzju We are upgrade to Java 9 now, do you change your IntelliJ for that?

[2018-06-08 13:28] bixuanzju opened #46 "Question on 14.9"
Q14.9 (`DescendantAndAncestorInBst`) asks us to determine if two given nodes are a *proper* ancestor and a *proper* descendant of the middle node. According to the explanation, if one of the two is equal to the middle, then it should return false because one of them is not a *proper* ancestor/descendant. One of the test cases is as follows:
[code]
If I am not mistaken, the expected result should b

[2018-06-08 20:20] tsunghsienlee commented on #46
Hi @bixuanzju,

You might want to update your client as I cannot find this test case now.

[2018-06-09 03:04] bixuanzju commented on #46
Hi @tsunghsienlee

I found that https://raw.githubusercontent.com/adnanaziz/EPIJudge/master/test_data/descendant_and_ancestor_in_bst.tsv

Search `["18", "9", "29", "5", "14", "21", "34", "1", "null", "null", "17", "null", "25", "null", "35"]	17	9	9	true	TODO`

[2018-06-17 12:38] #46 closed

[2018-06-17 17:35] tsunghsienlee commented on #46
Hi @bixuanzju ,

Do you figure out what the problem is?

[2018-06-18 02:44] bixuanzju commented on #46
@tsunghsienlee no, did you see my last comment, I found the test case in the repo

[2018-06-28 16:56] prepperoni opened #47 "Errors when compiling the solution of search_maze.cc"
I've tried "make search_maze" and using visual studio. Both throw errors. Here are the make errors:

mkdir -p cpp_build
g++ -std=c++17 -pthread -Werror -g -O0 -o cpp_build/search_maze search_maze.cc
In file included from test_framework/test_utils.h:19:0,
                 from test_framework/generic_test_handler.h:11,
                 from test_framework/generic_test.h:12,
                 from sea

[2018-07-16 01:21] prepperoni commented on #47
@metopa @adnanaziz @tsunghsienlee

[2018-07-18 16:45] metopa commented on #47
@prepperoni Sorry for long wait. I'll take a look at the issue today. Any updates you want to share?

[2018-07-19 22:32] JoshHumpherey opened #49 "Incorrect Expectation on Test (2/97) for problem 13.5 (Render a Calendar)"
Input:  [[1, 5], [2, 7], [4, 5], [6, 10], [8, 9], [9, 17], [11, 13], [12, 15], [14, 15], [9, 10]]
Expected: 4
Result: 3

This input is the same as the book's base case/example except it adds an event that runs from 9-10. However, this only bumps up the event count from 2 -> 3. The expectation for this case should be a 3 and the example code should be checked because it gives an incorrect answer fo

[2018-07-21 03:50] prepperoni commented on #47
@metopa No worries. I just cloned a fresh copy of this repo and tried to run "make zip_list" (randomly selected program) in the cpp solutions folder and the problem is still there

[2018-08-08 22:04] goodgoodwish opened #50 "When will the Python version EPIJudge works on Visual Studio Code?"
Howdy,  Great job!

I hope you have a plan to make EPIJudge Running the judge using Visual Studio Code in near future.

Thanks,
Charlie

[2018-08-12 11:50] magician03 commented on #47
@metopa @prepperoni  Hi, I just cloned the master branch and everything seems working fine. I hope this issue can now be closed.

[2018-08-12 11:57] magician03 commented on #50
@goodgoodwish Hi, AFAIK, VSCode is just an editor. However, you can use integrated terminal to run programs within it and that way Python code samples work fine. Did you mean Visual Studio IDE or anything else ?

[2018-08-12 12:12] magician03 commented on #49
@JoshHumpherey - Hi

This fact entirely depends on problem statement whether you need to consider end points as inclusive or exclusive. In case of real interviews, you need to confirm it with the interviewer. Depending upon this you need to change the sorting function to make sure if two different events begin and end at same, you first iterate over ending event thereby decrementing the count and

[2018-08-12 12:56] magician03 opened #51 "Plans for relaunch of EPI Online Judge ?"
Hi,

This book, repo are amazing and helpful. Many Thanks for it. I recently stumbled across your [website](http://elementsofprogramminginterviews.com/) and found out that you earlier had an online judge and closed it due to issues. Are there any plans to rebuild and relaunch it ? I am interested to contribute and be a part of that team.

[2018-08-12 15:15] chanpal opened #52 "Does anyone face Java compiler issues after import into IntelliJ?"
Does anyone face Java compiler issues after import into IntelliJ?

/EPIJudge/epi_judge_java/epi/test_framework/GenericTestHandler.java
Error:(67, 22) java: cannot find symbol
  symbol:   method of(java.lang.reflect.Type[])
  location: interface java.util.List

/EPIJudge/epi_judge_java/epi/test_framework/serialization_traits/TraitsFactory.java
Error:(21, 42) java: cannot infer type arguments for ja

[2018-08-13 03:41] hieudt commented on #52
You can fix this issue by installing JDK 10 and set the Module language level to 9.

[2018-08-13 05:03] chanpal commented on #52
I tried all combinations of JDK from 8,9 and 10.

I just tried your suggested procedure of changing the Module Language level to 9. The behavior remains the same.

BTW, I am using IntelliJ 2018.1 version. JDK 8 and 10 installed.

[2018-08-13 05:30] chanpal commented on #52
Thank you, Hieu. It solved the problem.

I was initially changed the values to default project structure expecting that it effects all projects including the current one, but it’s not. After changing the project’s project structure, I was able to make it work. Thanks!

[cid:8212DC2A-5027-419D-AFC7-8166AD9BC434]

On Aug 12, 2018, at 10:24 PM, Hieu Do <notifications@github.com<mailto:notifications@g

[2018-08-13 17:52] adnanaziz commented on #51
hi diwakar,

we'd love to build a solid online judge. now that we've got the test
framework figured out, i think we are ready to revisit that.

in terms of a minimum viable prototype, i think we'd like to have a login,
and a list of problems, in book order, with the state for each one
(completed successfully, started but failing some tests, not started).

i think the front-end can be build pretty

[2018-08-13 20:15] goodgoodwish commented on #50
@magician03 Hi Diwakar, thanks for your quick reply. I'm not sure if this place is good for suggestions and questions.

Goto https://marketplace.visualstudio.com/items?itemName=ms-python.python

After you install this Python extension for Visual Studio Code, it turns VSCode into an Python IDE immediately.
This extension is super popular, 15,594,508 people installed it.   ^_^

You may have a look.

[2018-08-14 03:43] #52 closed

[2018-08-14 03:46] metopa commented on #50
@goodgoodwish Hi, what problems do you encounter when working in VS code?

[2018-08-14 03:53] metopa commented on #47
@prepperoni again, sorry for waiting. Which platform do you use? Is it MinGW, WSL or just pure Linux?
As far as I can tell, our framework treats your system as Windows and tries to find Windows-specific symbols.

[2018-08-16 02:57] prepperoni commented on #47
@magician03 @metopa I just cloned the master branch just now and tried and still got the same error. I am using Cygwin on Windows 10.

[2018-08-21 00:02] alok-sinha commented on #51
Hi Adnan,

  Have you considered GO based backend service to serve? I am interested in
contributing to backend if you are planning it in GO or Java.

  Also, is there a plan to release GO based book? I am writing the
solutions to problems in GO.

Alok

On Mon, Aug 13, 2018 at 10:53 AM Adnan Aziz <notifications@github.com>
wrote:

[2018-08-21 15:36] dsp6622 commented on #47
I also have the same problem on Win10 with Cygwin (Msys2).

[2018-08-28 17:45] metopa commented on #47
@prepperoni @dsp6622 I don't have an access to Cygwin installation right now so I'd ask you to test fixes.
In https://github.com/adnanaziz/EPIJudge/blob/master/epi_judge_cpp/test_framework/platform.h#L9 please remove `|| __CYGWIN__` part and try to compile now

[2018-08-29 04:41] prepperoni commented on #47
@metopa hey that actually fixed it for me. Thanks!

[2018-09-03 23:49] krutipandya opened #54 "test cases"
Where can I find the test cases for the problems?

[2018-09-03 23:52] magician03 commented on #54
[Here](https://github.com/adnanaziz/EPIJudge/tree/master/test_data)

[2018-09-04 00:04] krutipandya commented on #54
Oh totally missed that folder. thanks.

[2018-09-05 16:33] #54 closed

[2018-09-05 16:33] #50 closed

[2018-09-18 18:49] armandosrz opened #56 "Test cases will not execute correctly for dutch_national_flag.py"
In line 45, A is not being reassigned after the executor runs.
Solution:
[code]

[2018-09-18 20:49] armandosrz commented on #56
After further review, I think this only breaks for solutions that create a new list instead of solving in place.

[2018-09-20 06:45] xandfury commented on #51
Hi.
This is just a suggestion. How about using an existing online judge? Sites such as [`spoj.com`](https://www.spoj.com/) are great and very helpful for practice. You can even host a private contests - so EPI problems are exposed in a contained environment. :smile:

[2018-09-22 22:38] tsunghsienlee commented on #50
Hi Charlie,

I am a little confused about what you mean Python version works on Visual
Studio Code but you said there is no problem of using that.  What do you
mean using Visual Studio here because what our Python repository shall be
compatible with any editor.

Tsung-Hsien

On Mon, Aug 13, 2018 at 9:22 PM Charlie Yi Zhu 木匠 <notifications@github.com>
wrote:

[2018-09-22 23:12] tsunghsienlee commented on #49
Hi @JoshHumpherey ,

In this problem, the calendar event is defined as both ends are inclusive.  That is  the reason the result is 4 instead of 3.  Please let us know if you have any other questions.  We will add some text to clarify this in the next release of book.

[2018-09-22 23:12] #49 closed

[2018-09-24 19:52] goodgoodwish commented on #50
Hi @tsunghsienlee Tsung-Hsien,

Thanks for your consideration.
I just hope the EPIJudge can be a vs code extension that is more user friendly.

Here is a VS code extension example,
https://marketplace.visualstudio.com/items?itemName=GrapeCity.gc-excelviewer

My thought is not mature yet, before I finish your book EPI.
I'm going to watch your talk in PyCon APAC 2018 too.
( Elements of Programming I

[2018-09-25 20:53] tddevlin opened #57 "Line 17 in permutation.tsv is not a permutation"
The input is [4, 2, 2, 4, 2], which is not a valid permutation.

[2018-09-25 20:55] tddevlin commented on #57
In fact there are many invalid permutations in this test file.

[2018-09-25 21:52] manalibhutiyani opened #58 "Fix test case for descendant_and_ancestor_in_bst"
The book says " A proper ancestor of a node is an ancestor that is not equal to the node; a proper descendant is defined similarly"
However in some test cases it is expected that the ancestor/descendent of middle to be same as middle. Is this correct behavior?

/Volumes/Data/EPIJudge/epi_judge_cpp/cmake-build-debug/descendant_and_ancestor_in_bst
Test FAILED (441/959)

Arguments
	tree:

[2018-11-05 07:19] Pradheesh opened #62 "max_sum_subarray.py does not handle all negative numbers"
https://github.com/adnanaziz/EPIJudge/blob/master/epi_judge_python_solutions/max_sum_subarray.py

Does not handle all negative number list.

The bounday conditions of mins and maxs = 0 does not work for this case.

[2018-12-04 02:45] ghost opened #63 "Visual Studio 2017 release version no longer contains compilation bug"
`README.md` states under *What compilers are supported for judge?* that

Under 15.9.2 and 15.9.3 on my machine everything compiled just fine. It appears that a user can simply download the latest version of Visual Studio Community.

Perhaps `README.md` could be amended to simply warn users not to install 15.7.0 because of said bug.

[2019-01-03 15:45] arvand opened #64 "Suggestion-Organize files by chapter folder"
Will a pull request be accepted if I organize files based on chapters and put them in separate folders?

[2019-01-04 16:25] wesbarnett opened #65 "is_list_cyclic.py does not check start of cycle"
When running the test cases for `is_list_cyclic.py` it only checks if a cycle is found or not, not where the cycle begins.

[2019-01-08 12:33] metopa commented on #62
@Pradheesh Thank you for pointing this out. I'll review it

[2019-01-08 12:35] metopa commented on #58
@manalibhutiyani thank you for pointing this out. I'll review this issue.

[2019-01-08 12:48] metopa commented on #57
Hello @tddevlin, it seems like you're talking about `next_permutation.tsv`. It is true that current tests are against the book definition of the problem. However, the presented algorithm seems to handle inputs with repetitions just well. I'll check on this with the book authors and either remove invalid tests or expand problem definition. Thank you

[2019-01-08 12:56] metopa commented on #56
@armandosrz indeed, that is a bug. We'll fix it in the next release. Or we'll gladly accept your PR to mark your contribution. Thank you

[2019-01-17 20:25] arvand opened #66 "Guideline for submitting better solutions"
Since the book is becoming more popular, I was wondering if there is a guideline for submitting simpler and cleaner solutions with better comments and explanations?
Also is there a to-do list of backlogs that we can contribute to?

[2019-01-18 08:54] metopa commented on #66
@arvand If you have suggestions for the code itself, you can submit a PR with a modified version in `solution` folder. Try to provide new solution for all 3 languages. If you're speaking about the book text, you should contact @adnanaziz on this.

[2019-01-18 09:41] EldanGS commented on #4
Hi @tsunghsienlee ,

The same problem, but the answer doesn't right.
Could you explain, how we will use 1 values two times(is it legal?)? In my opinion that is not the right way to solving this problem.

Test FAILED (  53/1005)
Arguments
	A:        [-2, -1, 1, 4]
	t:        8

Failure info
	expected: True
	result:   False

`def has_two_sum(A, t):
    left, right = 0, len(A) - 1
    while left < ri

[2019-01-19 17:32] EldanGS commented on #23
'max_water_trappable.tsv' @tsunghsienlee

Test FAILED (   1/1001)
Arguments
	heights:     [0, 1, 2, 1, 3, 4, 4, 5, 1, 2, 0, 3, 1]

Failure info
	explanation: Example in the book
	expected:    7
	result:      12

[code]

[2019-01-19 17:48] lalwanivikas commented on #23
@EldanGS dude i think this code is for largest rectangle in histogram problem. max trapped water is a different problem.

[2019-01-19 18:15] EldanGS commented on #23
@lalwanivikas my bad, I have a mistake.

[2019-01-30 12:38] Naman-Bhalla opened #67 "Why is the square root of 0 not 0 ?"
Thanks for such a great book. While solving on EPI Judge I found this weird. Would be great if can be explained.
Thanks

https://github.com/adnanaziz/EPIJudge/blob/1e03a0c4e3ac033f1814e31c817e3a9889035aa3/test_data/real_square_root.tsv#L2215

[2019-01-30 12:50] Naman-Bhalla commented on #67
I checked the parts of code that are causing result to be 0 v/s expected.

The following code runs correctly (Gives output 1.571727783679971e-162):

[code]

On the other hand, if I use "if check < x" instead of "<=", it fails (Gives output 0 for 0, which ideally should be correct ?).

[code]
Arguments
	x:        0.0

[code]

[2019-01-31 07:14] arvand opened #68 "is_list_cyclic solution explanation"
According to the [Tortoise and Hare's ](https://stackoverflow.com/questions/2936213/explain-how-finding-cycle-start-node-in-cycle-linked-list-work) explanation, the tortoise should be moved to the beginning of linked list while keeping the hare at meeting place.
As a sample code, this can also be found [here](https://www.geeksforgeeks.org/find-first-node-of-loop-in-a-linked-list/):
[code]

But loo

[2019-01-31 16:25] Naman-Bhalla opened #69 "StopIteration leads to Critical error(RuntimeError): generator raised StopIteration [Python 3.7]"
Hi !
As per PEP 0479 (https://www.python.org/dev/peps/pep-0479/) , there is a change in StopIteration handling inside generators.
Due to this, when we run tree_right_sibling.py (I haven't yet checked which other files are affected by this too, but it should be anywhere StopIteration is being used), it leads to a RunTime Error.
A quick solution is to just replace
[code]

with

[code]

The above sol

[2019-02-06 07:34] alf239 opened #70 "string_transformation.cc gives away the approach"
In line 7,
[code]
gives pretty much all one needs to have in order to arrive at the solution; delete perhaps?

[2019-02-06 18:43] alf239 opened #71 "5.17 (cpp) Sudoku checker fails with true != true"
[code]

I suspect it's a valid error, and will report more - but it is utterly unreadable :)

[2019-02-06 18:45] alf239 commented on #71
Turns out that instead of `true` I returned a truthly value. My bad, I guess. Or the checker's?

[2019-02-09 00:27] alf239 opened #72 "absent_value_array.cc, test 21/100 - wrong test?"
The error output is as follows:

[code]

But then if you copy that array into Python and sort it, the beginning of a sorted array is indeed `[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 14, 15, 16, 17, 18, 19, ...`, so 11 is a right solution.

(Besides, the jump from "find absent" to "find the _first_ _positive_ absent value" is a bit surprising.)

[2019-02-14 09:05] datracker opened #74 "Cannot run any test cases in IntelliJ"
Hi,
I cannot run any test cases due to 3 errors in epi/test_framework.

1. In ~/EPIJudge/epi_judge_java/epi/test_framework/GenericTestHandler.java the error is:
Error:(67, 22) java: cannot find symbol
  symbol:   method of(java.lang.reflect.Type[])
  location: interface java.util.List

2. In ~/EPIJudge/epi_judge_java/epi/test_framework/TestUtils.java
Error:(30, 22) java: cannot find symbol
  symbo

[2019-02-14 23:35] #74 closed

[2019-02-26 04:44] taojin1992 opened #76 "about one case of DoListsOverlab.java"
Book P101 (7.5 DoListsOverlab.java ): need more explanation on why "if one list is cyclic, and the other one is not, they cannot overlap.". They can still overlap when the cyclic part appears earlier in one list and they can share the following part without the circle.

[2019-03-02 03:12] kvguarin opened #77 "DeadlineDetection.java"
Class GraphVertex is incomplete in EPIJudge/epi_judge_java/epi/DeadlockDetection.java

It is currently:
[code]

It should be:
[code]

[2019-03-04 22:06] aarondtaveras opened #79 "Can't Build C++ Tests From Command Line"
I'm receiving errors when trying to build any of the test cases within a Windows environment that has the MinGW compiler. Running 'make' from command line and within code runner within VS Code both produce the same errors. The errors are below:

[code]
As you can see it is very long. I tried to checkout the `_fileno` method and saw that it was a Windows specific method for C++. The function signat

[2019-03-05 17:42] Plotnus opened #80 "Naming Inconsistency: between Problem name in book and filename."
Problem 6.1
The title for the problem in the text is "Interconvert strings and integers."
The exe and file name are `string_integer_interconversion` and "string_integer_interconversion.cc".

[2019-03-05 17:44] Plotnus commented on #80
If you would like and open to accepting to pull requests let me know and I can take a swing at addressing this.

The project files for the different languages & IDE are the main part that would make this a bit more involved.

With C++ it's fine since we can generate them with CMake.

[2019-03-06 04:26] Plotnus opened #82 "Naming Mismatch: Problem 10.1"
In the text problem 10.1 is called "Merge Sorted Files".
The testfile is called `sorted_arrays_merge.cc`.

The only way I found the file name was by peeking at the solution.

[2019-03-14 13:53] capy-pl commented on #74
How did you fix this?

[2019-04-10 18:41] timaku opened #88 "Missing problems: parallel computing chapter has no problems in EPI"
In the parallel computing chapter, these problems are no where to be found in EPI Judge. Like "The Readers-Writers Problem", #19.6 in my Java edition of EPI

[2019-04-10 18:42] timaku commented on #88
This repo has it: https://github.com/gardncl/elements-of-programming-interviews
But it would be better if all problems were supported by the authors

[2019-04-27 10:53] giuscri opened #90 ""Find the kth largest element" assumes distinct elements on the book, but arrays in test-data have duplicates."
For problem 12.9, _Find the kth largest element_, the description says

But the related test data contains arrays such as `[12, -8, -8, 11, -9, 1, 7, -11, 2, -8, 1, 5, 2, -8]`, which contains `-8` 4 times for exemple.

---
Book version: `1.5.3`
HEAD of repository: 1e03a0c

[2019-04-27 19:31] #68 closed

[2019-05-08 23:43] tsunghsienlee commented on #90
Hi @giuscri ,

We have removed this constraint in the later version of the book as we noticed that it does not need be that way. I noticed we still have a sentence in solution mentioning this constraint, and we will fix the solution text part later. Thanks for your reporting still.

[2019-05-08 23:43] #90 closed

[2019-05-08 23:47] tsunghsienlee commented on #67
Hi @Naman-Bhalla ,

Thanks for your report, and this definitely is an ill-generated test data. I have removed that entry, and this change will be reflected in the next release. Thanks!

[2019-05-11 05:01] tsunghsienlee commented on #71
Hi @alf239 ,

Could you share what your program is? I wonder what causes this.

[2019-05-12 11:25] alf239 commented on #71
Hi @tsunghsienlee,

I'll need another evening to reproduce that; I _think_ that was in the following code due to the missing final `return`:

[code]

but GCC 8.0 (rightfuly) fails to compile that, and my MSVC (where I saw that) workspace is in ruins. Will try to check in the evening and get back to you.

[2019-05-12 11:57] alf239 commented on #71
(looking at https://www.godbolt.org/, it seems that the above is correct: the return value is whatever was in `al` at the moment, which is likely not 0, hence formatted as `true` on output; on the other hand, `==` fails correctly)

[2019-06-09 14:33] #71 closed

[2019-06-09 14:38] alf239 commented on #82
Problem is, since the solution files are in the book, too, the names are pretty much set in stone: renaming the solution (templates) will result in naming mismatch between the book and the repo.

[2019-06-16 08:41] fantauzzi opened #95 ""Compute a shortest path with fewest edges" is missing"
There is no support in the EPIJudge for problem "Compute a shortest path with fewest edges", see Sec. 19.11 of the C++ book. I can't find it listed int the README "Problem to Program Mapping", and also can't find it by grepping in the source code.

[2019-06-16 11:15] #82 closed

[2019-06-19 16:18] metopa commented on #88
Hi @timaku, as of today the testing framework does not support parallel programs. This may change in the future.

[2019-06-19 16:18] #88 closed

[2019-06-19 16:20] metopa commented on #79
@aarondtaveras thank you for reporting, I'll check this. Meanwhile, try to use a different compiler (MSVC or Cygwin if you're on Windows).

[2019-06-23 23:08] g-aaroncruz opened #97 "is_binary_tree_bst.py incorrect?"
In the EPI python book on page 214 for problem 14.1, the input is described as a BinarytreeNode object. Although, in the EPIJudge, the tree comes in as a array. Unless I misunderstood the problem this seems like a bug.

![image](https://user-images.githubusercontent.com/10556148/59983154-ee952a00-95d0-11e9-9373-228a75937f9d.png)

[2019-06-28 01:13] junhaowww opened #98 "Is hashCode() in BinaryTreeNode.java correct?"
Hi,

Since `BinaryTreeNode` is a class for binary tree node, the data is not required to be unique. If two `BinaryTreeNodes` have the same data and children, they have the same `hash code` values.

When I was working on the brute-force solution of `problem 9.5 - Sum the root-to-paths in a binary tree`, I found that it could be an issue. Here is the detail I posted: [link](https://www.junhaow.com/l

[2019-07-07 02:03] 91Vallabh commented on #74
Any updates on how to fix this?

[2019-07-22 06:29] fantauzzi opened #100 "The binary tree node doesn't have required reference to parent node"
As per problem in section 10.9, the binary tree node should have a reference to its parent. However, in the code it only has references to left and right children, see binary_tree_node.h and tree_inorder.cc

[2019-08-05 20:52] michaelhly commented on #58
The same issue persists in all of the following test cases:

[code]

Wondering if there is something we misunderstood about the problem.

[2019-08-05 20:56] michaelhly commented on #58
Also, test case one is a False condition:
[code]

So I'm thinking the test cases assumes only `possible_anc_or_desc_0` == `possible_anc_or_desc_1` == `middle` is FALSE.

[2019-08-05 21:05] michaelhly commented on #58
Now in some test cases, we have:
[code]
where possible_anc_or_desc_0 == middle_idx or possible_anc_or_desc_0 == middle_idx and expects False

....not quite sure what's going on here.

[2019-08-06 07:04] metopa commented on #98
Hi @junhaowww,

I suppose this is what the current implementation does (correct me if I'm wrong). Then this is correct since 2 equal objects must have the same hash value.

I can't see your post - I just see a blank page when I follow your link.

[2019-08-06 07:08] metopa commented on #97
Hi @g-aaroncruz
The argument for `is_binary_tree_bst` is actually a binary tree. We just use a list format for displaying the tree

[2019-08-06 07:08] #97 closed

[2019-08-06 07:11] metopa commented on #79
Hi @aarondtaveras,

I hope you're doing well. We're preparing a new release. Would you mind to check for us if your issue is fixed? I would kindly ask you to checkout `dev` branch and try to compile tests in it.

[2019-08-06 07:14] metopa commented on #95
Hi @fantauzzi, thank you for using EPIJudge.
There are some problems that are not currently in the judge. We might support them in the future, but no particular plans there for now.

[2019-08-06 07:14] #95 closed

[2019-08-06 07:18] #67 closed

[2019-08-06 07:28] metopa commented on #80
Hi @Plotnus, we know about the inconsistency. However, the book naming may change from release to release and it is impractical to enforce it there. You can use https://github.com/adnanaziz/EPIJudge#problem-to-program-mapping to find out the corresponding code name for a problem in the book.

[2019-08-06 07:28] #80 closed

[2019-08-06 07:30] metopa commented on #69
@Naman-Bhalla thank you for pointing this out. This will be adressed in the upcoming release.

[2019-08-06 07:33] metopa commented on #65
Hi @wesbarnett, thank you for trying EPIJudge.
These correspond to the problem definition: it only asks to tell there's a cycle or no.

[2019-08-06 07:33] #65 closed

[2019-08-06 18:38] junhaowww commented on #98
Hi @metopa ,

Here is [the link](https://www.junhaow.com/lc/problems/tree/sum-and-path/9_5-sum-root-to-leaf-paths-of-binary-tree.html)

[2019-08-07 12:11] metopa commented on #98
Hi @junhaowww,

On the hash code issue, the result is perfectly fine, since a hash code should be the same for the equivalent objects (not only for identical ones). So b3, b4, b5 are not the **same** trees, but they are **structurally equal** trees, thus they have the same structure and values. For your use case, you want to use identity mapping, Java has [`IdentityHashMap`](https://docs.oracle.co

[2019-08-07 12:11] #98 closed

[2019-08-11 21:29] YL-sudo commented on #79
Same issue here. I use Clion on windows, with MinGW 8.2.0.
I have tried the `dev` branch, the build is still failed. Really love this book.

The errors are like:
[code]

[2019-08-11 22:43] Yingyu-Li commented on #79
I met the same issue. Exactly same error messages.
Clion on windows, with MinGW 8.2.0.
I also tried `dev` branch, but I still cannot build it.
Thanks!

[2019-08-12 17:29] levinotik opened #103 "apply_permutation question"
My (seemingly) simpler solution passes all the tests. Should it not? If it should, why does the book offer a more complex solution?

My solution:

[code]

[2019-08-12 17:38] #103 closed

[2019-08-16 16:20] dhruvramdev commented on #79
I also have the same issue on CLion and MinGW on Windows.

[2019-08-19 16:34] metopa commented on #70
@alf239 Thank you for pointing this you, this will be fixed in the upcoming release

[2019-08-19 16:43] metopa commented on #76
List overlap means they have the same tail, that is from some node they start sharing the same nodes. At this point, you can't have 1 list being cycled, while the other one having a terminal node

[2019-08-19 16:43] #76 closed

[2019-08-19 16:47] metopa commented on #77
@kvguarin Thank you for pointing this out. The following modification is a part of a solution, that we don't want to give away. However, it is not clear, that you're allowed to change the class definition. This will be fixed.

[2019-08-24 20:08] rishab-pdx commented on #4
@EldanGS The statement of the problem says it is not necessary that the the numbers be distinct

[2019-10-09 18:08] yomagg opened #107 "apply_permutation.cc can't compile due to incorrect call to the size() method"
Hi,

In several places where size() is used it is used incorrectly and causes compilation errors. Instead of size(perm) or size(A) it should be perm.size() or A.size(). The version in the book is correct in this regard.

The C++ code version that compiles is:
[code]

[2019-10-10 20:58] yuxiang-zhang opened #108 "cpp h index solution"
There is a small issue with this solution for the introduction interview problem.
https://github.com/adnanaziz/EPIJudge/blob/1e03a0c4e3ac033f1814e31c817e3a9889035aa3/epi_judge_cpp_solutions/h_index.cc#L10-L11

The variable `n` is declared but not used in the `for` loop condition.

[2019-10-11 15:57] andriisoldatenko opened #109 "golang support to project?"
what do you think if i add support fo golang project?

[2019-10-13 07:19] vijaykiran225 commented on #109
👍  would be awesome

[2019-10-17 06:41] tsunghsienlee commented on #108
Hi @yuxiang-zhang ,

We do use _n_ in our solution, and you shall see that in https://github.com/adnanaziz/EPIJudge/blob/1e03a0c4e3ac033f1814e31c817e3a9889035aa3/epi_judge_cpp_solutions/h_index.cc#L12

[2019-10-17 06:41] #108 closed

[2019-10-17 06:53] #70 closed

[2019-10-17 06:55] tsunghsienlee commented on #70
Hi @alf239 ,

Very sharp eyes, and I just pushed a change to fix this, and it will be in the next release.

[2019-10-17 07:05] tsunghsienlee commented on #72
Hi @alf239 ,

This is a bug in our test data, and we will fix this by implementing a special check for this. Again, thanks for reporting.

[2019-10-17 07:20] tsunghsienlee commented on #107
Hi @yomagg ,

You could solve this by using a C++17 compiler since size() is added in C++ 17 (check https://en.cppreference.com/w/cpp/iterator/size).

[2019-10-17 07:20] #107 closed

[2019-10-18 04:00] tsunghsienlee commented on #77
Hi @kvguarin ,

In fact, there is no problem of the GraphVertex definition in Judge. The one given in Judge is the basic definition, and in order to solve this problem, you might enhance this with `Color` enum to solve this.

Think in the other way, in normal graph problem, a graph node would not carry the field of `Color` at all, and that is the reason we did not include that in Judge template.

[2019-10-18 04:00] #77 closed

[2019-10-18 04:07] tsunghsienlee commented on #100
Hi @fantauzzi ,

Thanks for your question, and we really appreciate it. For a binary tree problem, given the access to parent or not is like the problem requirement. There is no strict requirement saying every binary tree problem gives the parent node reference. Normally, you won't have access of that, and every now and then, you will have access to parent node (like 10.9 you pointed to).

[2019-10-18 04:07] #100 closed

[2019-10-18 04:33] tsunghsienlee commented on #62
Hi @Pradheesh ,

It is a definition problem, normally, you could have a subarray of size 0. If we are allowed 0-sized subarray, the answer for all negative numbers is 0. In this problem we allow 0-sized subarray.

During interview, you shall double-checked this with your interviewer for sure.

[2019-10-18 04:33] #62 closed

[2019-10-18 04:43] tsunghsienlee commented on #109
Hi @andriisoldatenko and @vijaykiran225 ,

Really appreciate for you guys support, and we really appreciate that. We right now don't think any new language support, and it simply because we don't have enough manpower to develop that. If you look at our repository, to make EPIJudge works out of box without installation and any hassles. we have to implement the backend logic for each language. It me

[2019-10-18 21:37] #109 closed

[2019-10-19 23:01] tsunghsienlee commented on #72
Hi @alf239 ,

We just fixed this, and it will be released in the next release.

[2019-10-19 23:01] #72 closed

[2019-10-19 23:15] #69 closed

[2019-10-19 23:16] tsunghsienlee commented on #69
Hi @Naman-Bhalla ,

Many thanks for reporting this, and I have pushed a fix for this. It shall be released in next version.

[2019-10-19 23:42] tsunghsienlee commented on #56
Hi @armandosrz ,

I don't see what you are referring to in https://github.com/adnanaziz/EPIJudge/blob/1e03a0c4e3ac033f1814e31c817e3a9889035aa3/epi_judge_python/dutch_national_flag.py#L22

Could you double-check this? BTW remember this problem is asking for returning a list but in-place modification.

[2019-10-19 23:43] #56 closed

[2019-10-20 05:37] tsunghsienlee commented on #58
Hi @manalibhutiyani and @michaelhly ,

Thanks for your question, and we really appreciate that. It seems there is a misunderstanding on problem definition. The problem asks for

, and in the case of if any ancestor/descendent is the middle node, it immediately invalidates the possibility of proper ancestor and proper descendant. In fact, it is an easy case instead of a bug.

Please reopen this cas

[2019-10-20 05:37] #58 closed

[2019-10-22 04:13] adnanaziz commented on #57
@tddevlin: thanks for pointing this out. We've reworded the problem to reflect that the ask is to generate the lexicographical successor of the array.

E.g., A = [1, 2, 3, 1], you should return [1, 3, 1, 2]; if the input is [2,2,4,1,3], you should return [2,2,4,3,1]. If there is no such array, e.g., the input is [3, 2, 1, 1], return the empty array.

[2019-10-22 04:13] adnanaziz commented on #57
Closed with update to book and response to @tddevlin.

[2019-10-22 04:13] #57 closed

[2019-10-22 04:20] adnanaziz commented on #51
We will do this some day, but there's some clear advantages of an offline judge - choose your own debugger, compiler, dev environment, editor/IDE, get complete visibility, unconstrained access (can work while commuting), more responsive.

You also don't have the pressure of comparing your solution to the solution at the top of a leaderboard, which is not useful when prepping for an interview (sinc

[2019-10-22 04:20] #51 closed

[2019-11-05 23:14] madhuri7112 commented on #46
I have the same issue.
In case anyone is looking for a quick fix
Open `EPIJidge/test_data/descendant_and_ancestor_in_bst.tsv`
Replace line 442 with
`["18", "9", "29", "5", "14", "21", "34", "1", "null", "null", "17", "null", "25", "null", "35"]	17	9	9	false	TODO`

[2019-11-06 05:18] tsunghsienlee commented on #46
Hi @madhuri7112 ,

We are fixing the test data and please wait for the next version of test data of this one. You could use the solution to add debug information to track how this works.

[2019-11-08 05:55] deveshks opened #110 "Potential bug in python implementation of Problem 9.4"
The definition of depth of a node n in the book states:

But if you look at the implementation of get_depth, we are also counting the node while performing the traversal from the node to the root.

The problem lies in the while condition at
https://github.com/adnanaziz/EPIJudge/blob/1e03a0c4e3ac033f1814e31c817e3a9889035aa3/epi_judge_python_solutions/lowest_common_ancestor_with_parent.py#L12

which

[2019-11-08 07:09] tsunghsienlee commented on #110
Hi @deveshks ,

Very sharp eyes, and you are right on this. If you check our C++ and Java implementations, you shall notice that we take care of this but the Python implementation is definitely missing this.

This fix will be pushed in the next release, and really appreciate for your report!

[2019-11-08 07:09] #110 closed

[2019-11-08 07:14] deveshks commented on #110
You are correct, both the C++ implementation
https://github.com/adnanaziz/EPIJudge/blob/master/epi_judge_cpp_solutions/lowest_common_ancestor_with_parent.cc#L37

and the Java implementation
https://github.com/adnanaziz/EPIJudge/blob/master/epi_judge_java_solutions/epi/LowestCommonAncestorWithParent.java#L37

take care of this, and not the Python implementation, Also even the book text contains the

[2019-11-08 07:20] tsunghsienlee commented on #110
Hi @deveshks ,

Just to be clear, you said

Could you point out what exactly the text in the book is wrong such that we could fix that?

It is good to hear that you like the questions in the book, and please keep up the good work on reporting whatever you feel wrong.

[2019-11-08 07:28] deveshks commented on #110
I meant to say that the code provided in the book "Elements of Programming Interviews in Python" for Question 9.4 contains the same issue as the code in the Judge which I pointed out.

I have attached a screen cap of the corresponding text from the book as well.
<img width="1275" alt="Screen Shot 2019-11-08 at 12 57 43 PM" src="https://user-images.githubusercontent.com/13155849/68457898-751c7200-0

[2019-11-08 07:31] tsunghsienlee commented on #110
I see, thanks for pointing that out. The book actually excerpt the program and fits into there. So as long as the code is fixed, eventually the physical book will be fine.

Originally I was thinking what you referred is the text description part of the book is buggy.

[2019-11-08 07:35] deveshks commented on #110
I was referring to both the code present in this repo as well as code in the book.

Is there a document which I can follow to create a PR and fix this issue?

[2019-11-08 12:53] deveshks opened #111 "Confusing Title for problem 9.14 in Python edition of EPI"
The question 9.14 says

But the code provided in the book as well as in this repo: https://github.com/adnanaziz/EPIJudge/blob/master/epi_judge_python_solutions/tree_connect_leaves.py

create a normal list, not a linked list and present it as an output, which seems like a disconnect

[2019-11-10 02:36] tsunghsienlee commented on #110
Hi @deveshks ,

Our book actually has a program to extract the code snippet from repo and insert that into the book. Therefore, they are pointing to same thing.

Right now we don't have document to create PR but we are planning to have one. If you want, just submit one by your own and we will merge that into our repo.

[2019-11-10 04:30] deveshks commented on #110
Hi @tsunghsienlee
Thanks for the response.  I assume I can use the dev branch for the PR, since that seems to be the current one and is 15 commits ahead of the master?

[2019-11-10 06:18] tsunghsienlee commented on #110
Hi @deveshks ,

I would suggest you list the problem you discovered to us and make PR if you want. Because the uniqueness structure of the book and development practice, we could not upstream the PR change you made to the book. So we currently only manually merge those changes you guys submit into our private repository.

[2019-11-10 06:48] deveshks commented on #110
Hi @tsunghsienlee

So If I understand correctly, I can choose either the dev or master branch, and make the PR, since you will manually merge the changes from either of the branch?

[2019-11-10 06:52] tsunghsienlee commented on #110
I think the way "merge" is we just manually implement the change you made in the private repository and then when it release, it will be shown in the public repository. Basically whatever you did will not merge in fact, it is more like a demo to us how we could implement that in private repo. So that is the reason I said you could make PR or not, as we have to reimplement that again.

[2019-11-10 06:59] deveshks commented on #110
Got it, I just wanted to make sure I was listed as a committer in the commit log of this repo, hence my questions.

But seems like what you explained to me, that won't be the case since you will manually implement that change and release it here.

[2019-11-10 07:05] tsunghsienlee commented on #110
Yeah, you are right. I feel bad that the commit log for people contribute to open source repository get this as some sort of recognization.

In the open source repository which contains private internal resources, it usually have a bot to auto-push commits back-and-forth keep the public and private side stay at sync so both could work together. However, we don't have this bot, and we have some not

[2019-11-10 07:08] deveshks commented on #110
Thanks for the explanation again and being transparent. I will create a PR and make a commit regardless

[2019-11-10 16:45] metopa commented on #110
Hi @deveshks, feel free to submit the PR. I'll make sure you will be listed as a contributor. Use the dev branch, please.

[2019-11-10 18:13] deveshks commented on #110
Thanks @metopa  I have created a PR for the same

[2019-11-12 18:19] deveshks commented on #110
Thanks @metopa for handling the PR and merging the commit. If possible, can you list me as a contributor as you mentioned in a previous comment?

[2019-11-13 21:26] metopa commented on #110
@deveshks GitHub does this automatically as soon as the commit is merged to master

[2019-11-14 06:22] adnanaziz commented on #111
Good catch! #thanks @deveshks - we have updated the problem statement.

[2019-11-14 06:22] #111 closed

[2019-11-14 09:46] deveshks commented on #111
I assume you will update the problem statement in the next edition of the book?

[2019-11-14 09:49] deveshks opened #113 "Typo on Page 163 for Python edition of the book"
There is a typo on Page 163 for Python edition of the book.

`Note that the built-in hash() function can greatly simplify the implementation of a hash function
for a user-defined class, i.e., implementing __hash(self)__`

The dunder function signature `__hash(self)__` is incorrect and should change to `__hash__(self)`

[2019-11-14 18:33] deveshks opened #114 "Solutions to variant problems"
I don't see solutions to variants specified in some of the questions. Is that intentional?

I would be happy to contribute solutions to some of the variants as well

[2019-11-15 07:03] tsunghsienlee commented on #113
Hi @deveshks ,

Thanks for your report, and it will be released in the next version.

[2019-11-15 07:03] #113 closed

[2019-11-15 20:56] tsunghsienlee commented on #114
Hi @deveshks ,

We definitely welcome solution to variants; however, the challenge part is that we expect good coding style (like the one you see in the book) also solutions to three languages (as we want to keep consistency).

Those are actually very challenging but if you want to try it, please go ahead!

[2019-11-16 02:14] deveshks commented on #114
Hi @tsunghsienlee
Thanks for the clarification. Apart from providing code in three languages, am I also expected to provide tsv files for test cases, and well as test hooks ?

Also what will be the nomenclature for the functions for the variant problems? Is there a nomenclature followed for the other question solutions?

[2019-11-18 01:43] tsunghsienlee commented on #114
Hi @deveshks ,

We mostly built a test case generator for that. It comes with fixed random seed and integrating with our solution so we use our solution to generate that result.

For now, I would say you should focusing on generating solutions first.

[2019-11-18 01:43] tsunghsienlee commented on #114
Hi @deveshks ,

We mostly built a test case generator for that. It comes with fixed random seed and integrating with our solution so we use our solution to generate that result.

For now, I would say you should focusing on generating solutions first.

[2019-11-18 18:08] deveshks commented on #114
Hi @tsunghsienlee
I will start by taking a stab at some of the variant problems in all 3 languages and create a PR accordingly

[2019-11-20 20:05] marialopezlatorre opened #117 "IsTreeBalanced Java early termination"
Whenever I try to run IsTreeBalanced, the program terminates with errors without any further information.

Debugging the code shows that it never invokes the function.

I'm able to get the following value of args in a specific version of Eclipse (4.9.0) if I stop the execution within main, but not elsewhere:
"Detail formatter error: Evaluations must contain either an expression or a block of well-

[2019-11-21 05:58] tsunghsienlee commented on #117
@Hi @marialopezlatorre ,

Do you try to run on other problems and is this issue happened still?

Also, our framework requires Java 10 as listed in our page, and you shall check your Java compiler version.

[2019-11-21 10:38] marialopezlatorre commented on #117
Thanks for the quick response @tsunghsienlee !

Running other problems before and after didn't fix the issue. As for the framework version, my understanding was 10+, so currently running on 11.0.1.

Let me try on 10 and give an update.

[2019-11-21 11:19] marialopezlatorre commented on #117
Nope, same situation with JDK 10.0.2. Only info I get without digging is a failed exit (code 1).
I was digging around with other tree test exercises and found what the issue is (it had to be the only difference, as those were working!).
I'm used to adding auxiliary methods to the top, so the test couldn't find the class... 🤦‍♀️

Despite feeling a bit silly, I'm happy I could move forward! Thanks f

[2019-11-21 11:19] #117 closed

[2019-11-23 01:46] zorro786 opened #118 "Buy And Sell A Stock Twice - Unnecessary restriction"
There is a restriction on this problem that says "The second buy must be made on another date after the first sale". Without loss of generality one can prove that if two transactions happen such that the second buy happens on the same day as first sale, the two transactions can be replaced by a single transaction giving you the same amount of profit.

For example:

0, 1, 2

Different scenarios:
Fi

[2019-11-23 02:22] zorro786 commented on #118
M[i] = F[i] + B[i] is a valid algorithm (in addition to F[i-1] + B[i] defined in text book).

[2019-11-27 03:57] TomatoCream opened #121 "nitpicking: python 13.11 implement fast sorting algorithm might not be stable"
I'm nit picking here but ...
Solution to 13.11 references merge sort from 7.1
L1.data < L2.data preferentially selects L2 when L1 and L2 are equal so would end up reordering the elements.

consider L1.data <= L2.data

[2019-11-27 05:53] tsunghsienlee commented on #121
Hi @TomatoCream ,

Very good observation, and in fact this is an inconsistency between our Python code vs. C++ (https://github.com/adnanaziz/EPIJudge/blob/master/epi_judge_cpp_solutions/sorted_lists_merge.cc) and Java (https://github.com/adnanaziz/EPIJudge/blob/master/epi_judge_java_solutions/epi/SortedListsMerge.java) codes.

Thanks for reporting this, and please keep up this good work.

This fix

[2019-11-27 06:11] #121 closed

[2019-11-28 06:22] rayudu3745 opened #122 "Java Compile Error"
Information:java: Errors occurred while compiling module 'epi_judge_java'
Information:javac 1.8.0_211 was used to compile java sources
Information:28/11/19, 11:50 AM - Build completed with 3 errors and 0 warnings in 2 s 889 ms
/Users/l0a0118/JavaCode/Training/EPIJudge/epi_judge_java/epi/test_framework/GenericTestHandler.java
Error:(67, 22) java: cannot find symbol
  symbol:   method of(java.lang.r

[2019-11-28 06:48] #122 closed

[2019-11-28 06:48] rayudu3745 commented on #122
use java 9

[2019-11-29 05:25] prash-kr-meena opened #123 "How to understand the EPI Java Test FrameWork"
Hey, thanks for sharing this great project with us.
I just wanted to know how could i understand the TEST framework (like the whole project how all this works as one piece). What i wanted to know i should  i start reading the code. from where should i start reading the code.

i looked the git commits, hoping i would see the code in multiple commits so i could  figure out how it started and then ho

[2019-11-29 06:52] tsunghsienlee commented on #123
Hi @prash-kr-meena ,

Because we have our internal project so you won't see the whole commit history for reason. I could tell you that since code is there, feel free to fork it and do any modifications if you want to study it.

[2019-11-29 06:52] #123 closed

[2019-11-29 07:09] prash-kr-meena commented on #123
Ok thanks 👍

[2019-11-29 19:00] metopa commented on #123
@prash-kr-meena I would like to add, that the simplest way to learn how the framework works internally is just to step in it with a debugger. Conceptually, not that many things are going on:

1. The tested function signature is inspected to get its parameter types
2. Parameter parsers are for the test file are build based on this data
3. Each test case is parsed from the test file and is fed into

[2019-11-30 11:54] BZAghalarov opened #126 "Ch17 Greedy Algorithms and Invariants/Invariants boot camp"
The Invariants boot camp section in EPI/Python given solution for two_sum problem(before 17.4 The3-sum problem).
In a while loop condition given as "while i<=j" but I think it must be "while i<j".
For the following entry it return true but it must return False.
arr = [0,1,4,5,6], t = 8
Because 2th element 4 can't sum with itself.

[2019-11-30 19:35] deveshks commented on #126
The question notes the following

Hence the condition is `while i<=j` which will allow us to reuse a number twice

[2019-11-30 19:41] deveshks opened #127 "Incorrect comment for Question 24.17 and a potential optimization"
The code for Question 24.17 has an incorrect comment at https://github.com/adnanaziz/EPIJudge/blob/master/epi_judge_python_solutions/kth_largest_element_in_long_array.py#L13

The comment states

But there is no mention of a median anywhere in the problem, nor does the problem deal with the median. The comment should be corrected to refer that the elements are reordered around the kth element so th

[2019-12-01 00:21] tsunghsienlee commented on #126
@BZAghalarov , like what @deveshks said, this problem allows you to reuse the number, and the logic in the book is correct.

[2019-12-01 00:21] #126 closed

[2019-12-01 09:43] BZAghalarov commented on #126
@deveshks your given example from "17.4 The 3-sum problem". But as I mentioned I write about previous(Invariants boot camp) section.
And I must say that in your given problem hasn't any while loop part.
For a clear understanding, I add text and code which part I have mentioned.

solution, if it exists. This subarray is initialized to the entire array, and iteratively shrunk from one
side or the ot

[2019-12-01 09:45] BZAghalarov commented on #126
![while i lt j](https://user-images.githubusercontent.com/17585937/69912301-d1e30500-1440-11ea-8f6a-e09a04074adb.JPG)

[2019-12-01 09:55] deveshks commented on #126
I mentioned the 3 Sum problem since it uses the `has_two_sum` method which you have noted in your original question, and since the 3 sum problem mentions that  we can use the same entry
more than once.), I would assume that it holds true for has_two_sum as well.

But yes, I do agree that it should be explicitly mentioned in the boot camp section to avoid any ambiguity

[2019-12-01 11:12] BZAghalarov commented on #126
Yes, I incorrectly think it separately written for two sum problem which does not include the same element twice.
@deveshks thank you for an explanation.

[2019-12-02 05:25] tsunghsienlee commented on #127
Hi @deveshks ,

Thanks for this report, and for the first one, your comment is definitely more clear as the median was referred to the median of 2k -1 elements, which is subtle. I correct that per your suggestion.

The second one is a good find indeed, as you probably have checked the implementations of the other two languages, and you will notice that C++ one is the one we could not do this as we

[2019-12-02 05:33] deveshks commented on #127
Hi @tsunghsienlee

Thanks for the appreciation. I can create a PR for fixing the comment as well as return value and merge it to the dev branch  as per @metopa 's suggestion like last time

[2019-12-02 05:35] tsunghsienlee commented on #127
Hi @deveshks ,

Feel free to create that, and as I mentioned before, I have fixed this by myself in the private repository. This will be shown in the next release.

[2019-12-02 16:15] metopa commented on #127
Fixed with #131

[2019-12-02 16:52] #63 closed

[2019-12-02 17:01] metopa opened #132 "Add additional C++ CI configurations"
This issue documents the progress on adding CI configurations
for supported C++ compilers.

- [x] Default GCC on Ubuntu
- [ ] GCC 5 on Ubuntu (stub only)
- [ ] GCC 7 on Ubuntu
- [ ] Default Clang on Ubuntu
- [ ] Clang 4 on Ubuntu (stub only)
- [ ] Clang 5 on Ubuntu
- [x] Default Clang on macOS
- [x] Default MSVC on Windows
- [ ] MSVC 14.1+ (VS 2017) on Windows
- [ ] MinGW (MSYS2) on Windows
- [ ]

[2019-12-03 06:35] adnanaziz commented on #118
nice catch @zorro786, thank you for helping us refactor this solution. we've made the changes, they will be reflected in the next release.

[2019-12-03 09:10] deveshks opened #133 "Unnecessary line in python solution of Problem 11.9 and issues with test cases"
Line no 24 https://github.com/adnanaziz/EPIJudge/blob/9b1e7e4975ec8e38327f4a05ac067bebd36cbbad/epi_judge_python_solutions/absent_value_array.py#L24 in the solution for Problem 11.9 seems to be  extraneous and not serving any purpose

We already take two copies of the stream in line 11
`stream, stream_copy = itertools.tee(stream)` which are used to handle the two iterations over the stream, so the

[2019-12-03 16:52] #118 closed

[2019-12-03 18:37] deveshks opened #134 "Python solution of problem 12.6 not utilizing the defined namedtuple"
The defined `SubArray` namedtuple at
https://github.com/adnanaziz/EPIJudge/blob/9b1e7e4975ec8e38327f4a05ac067bebd36cbbad/epi_judge_python_solutions/smallest_subarray_covering_set.py#L8
is not being used further in the code, especially at
https://github.com/adnanaziz/EPIJudge/blob/9b1e7e4975ec8e38327f4a05ac067bebd36cbbad/epi_judge_python_solutions/smallest_subarray_covering_set.py#L26
where indexes

[2019-12-03 21:23] adnanaziz commented on #134
@metopa / @tsunghsienlee , @deveshks  is right, I think this is caused by the refactoring we did to replace tuples with namedtuples, line 26 should be something like

``
if result == Subarray(start=-1, end=-1) or right - left < result.start - result-end
``
(maybe also have a static constant for Subarray(start=-1, end=-1)?)

[2019-12-04 02:52] deveshks commented on #134
Hi @adnanaziz

The line 26 should be something thing like `if result == Subarray(start=-1, end=-1) or right - left < result.end - result.start:` I think, since `result[1]` corresponds to the attribute `end`, and `result[0]` to `start`.

I can make a PR and fix this is in the dev branch as well

[2019-12-04 06:23] deveshks commented on #133
Hi @tsunghsienlee
Can I make a PR to fix this in the dev branch?

[2019-12-04 06:26] tsunghsienlee commented on #133
Hi @deveshks ,

That `stream = stream_copy` is definitely redundant as my original indentation is to still iterating through `stream` in second for loop.

About the test case problem, it is actually a comprised answer here since we could not create a file with billions of integers in `.tsv` file. The idea to improve the test data is by some interesting representation of those integers, like repres

[2019-12-04 06:28] tsunghsienlee commented on #133
FYI, the reason the issue was closed was due to my git commit on private repo fixes that.

[2019-12-04 06:29] deveshks commented on #133
Hi @tsunghsienlee

Understood, let me add a fix  in the dev branch as well to remove the redundant line.

I can also see if there is an easier way to represent a billion of integers in a easier way in the tsv file and maybe update the testing accordingly

[2019-12-04 06:33] tsunghsienlee commented on #133
The way to represent that is to represent the dual (or inverse) of that since a meaningful test data would be something that only a few are missing in billions of numbers. This requires a little bit more changes that involves the changes of the wrapper and testing logic.

[2019-12-04 17:56] metopa commented on #117
@marialopezlatorre It seems like you've added your code between the `@EpiTest` annotation and the tested function. Each annotation directly relates to the next method, so that could be the reason.

[2019-12-08 11:06] deveshks commented on #133
I think this issue can be closed now

[2019-12-08 11:13] deveshks commented on #134
I see the problem is fixed after a latest commit in dev branch, so this issue can be closed

[2019-12-08 11:17] deveshks opened #136 "Unclear about the explanation in Problem 19.5"
In problem 19.5: Deadlock, there is a code snippet provided and according to the explanation that follows, the code snippet causes a deadlock. But I am unable to see how a deadlock is happening here

The explanation says

If U1 and U2 have separate locks, and the two threads only locks U1's and U2's lock in `_move`, how is there a deadlock being achieved here.

A similar question was asked on stac

[2019-12-10 16:42] deveshks opened #138 "A solution mentioned in the book is missing for Problem 14.1"
The queue based solution for the problem `Test if a binary tree satisfies the BST property` which checks the violations of the BST property in a BFS manner is missing from the solution.
I can create a PR to add the same

[2019-12-15 02:22] tsunghsienlee commented on #138
It is designed to be listed in the book but not in judge because it is solving identical problem. For people who want to try the BFS approach, they still could use the same stub we created for the problem.

In fact, we have other problems like that, for example, the problems of dutch national flag that we have several solutions for that problem but we decided to not listed that in judge for same r

[2019-12-15 20:37] deveshks commented on #138
Thank you for the explanation. So does that mean that are the judge is not open to adding some of the explicit solutions mentioned in the question like Problem 14.1?

[2019-12-16 06:38] tsunghsienlee commented on #138
The answer is yes and no, as I said in the previous comment. You could still use the same stub to test whatever your algorithm is. Creating two problems with identical stub is meaningless. If you want to make difference, you could only achieve this by creating different test data and special mechanism to differentiate the implementations. However, since those different implementation still have id

[2019-12-16 08:15] deveshks commented on #138
Makes sense. In that case I am closing this ticket

[2019-12-16 08:15] #138 closed

[2019-12-16 08:16] deveshks commented on #134
Closing this issue since it's already fixed

[2019-12-16 08:16] #134 closed

[2019-12-16 08:16] deveshks commented on #133
Closing this issue since it's already fixed

[2019-12-16 08:16] #133 closed

[2019-12-17 18:43] deveshks opened #140 "Incorrect code in Problem 21.11 in Python Book"
For the problem 21.11 `Function Arguments`, the last piece of code which explains default arguments has a bug

[code]
In both functions, we should be doing `return filehandle.read().split()` instead of `return filename.read().split(), otherwise we are calling `read()` on the filename string which doesn't make sense, whereas we should be calling read on the filehandle

[2019-12-23 08:32] deveshks opened #141 "Potential bug in Problem 14.4 in Python edition"
For problem 14.4 `Compute the LCA in BST`, the text states that

But what if the key s is bigger? The code would not work in that case. Perhaps the assumption here needs to be stated more clearly, or code needs to be fixed to cover the specific case

[2019-12-23 17:38] tsunghsienlee commented on #141
Text could be improved here, as you could see https://github.com/adnanaziz/EPIJudge/blob/master/epi_judge_python_solutions/lowest_common_ancestor_in_bst.py#L9 where we explicitly mentioned the precondition. We will reword that in the next edition.

[2019-12-23 18:01] deveshks commented on #141
Hi @tsunghsienlee

I didn't see that the comment in the code already address it. As you mentioned, rewording the text to match the code will fix it

[2019-12-23 18:01] #141 closed

[2019-12-23 18:02] deveshks commented on #136
Hi @tsunghsienlee
Could you please look into this issue if possible and clarify the question?

[2019-12-23 19:59] tsunghsienlee commented on #140
This definitely is a valid bug that we shall use `filehandle` otherwise this is just a no-op. Thanks for this report, and this will be released in the next edition.

[2019-12-23 20:10] deveshks commented on #140
Agreed. I will close the issue now since you have identified the bug

[2019-12-23 20:10] #140 closed

[2019-12-24 23:58] srikanthumich opened #143 "9.4 solution - wrong depth calculation"
Shouldn't it be `while node0.parent` instead of `while node0`? Given a single root node, the present code gives a depth of 1 (instead of 0).
`while node0.parent:
      depth_0 += 1
      node0 = node0.parent`

[2019-12-25 00:13] tsunghsienlee commented on #143
Hi @srikanthumich ,

Someone reported this before at https://github.com/adnanaziz/EPIJudge/issues/110

[2019-12-25 01:56] srikanthumich commented on #143
Ohh sorry, I didn't see that. Thanks for the quick turnaround.

[2019-12-25 01:56] #143 closed

[2019-12-26 01:55] zorro786 opened #144 "Unclear on time complexity for nearest repeated entries in array"
For the problem "NearestRepeatedEntries", it is mentioned that the solution provided has a time complexity of O(n). I believe this should be O(n*m), where m is the length of longest string among n entries because updating value of a key in hashmap will need to first check for key equality.
Please clarify.

[2019-12-27 03:23] zorro786 commented on #144
Another instance of similar issue in "Remove First-Name Duplicates"
"First we sort the array, which brings equal elements together. Sorting can be done in O(n log n) time"
This is very incorrect as the time taken will be O(n m log n) where m is the length of longest string. I believe a strict interviewer would give negative points if the time complexity is said to him as O(n log n)

[2019-12-27 03:24] zorro786 commented on #144
@adnanaziz Please clarify.

[2019-12-29 01:47] zorro786 opened #145 "Enhancement for The Most Visited Pages Problem"
"To find the k most visited pages we find the maximum element in the BST and make k - 1 calls to the predecessor function. If the tree is height-balanced, the time complexity of k - 1 calls to predecessor is 0(k + log m)."

The k most visited pages can be found in O(k) time using descendingIterator().

[2019-12-29 23:51] tsunghsienlee commented on #145
Not very sure what you want to express, do you mean descendingIterator() is O(1) each call? If that is what you mean, you might want to check the problem "Compute the successor" as descendingIterator() is the mirror of that.

The amortized time complexity of that is O(1) but in the worst case, in a height-balanced tree, it would be O(logm); so that is the reason the whole complexity is O(k + logm)

[2019-12-30 01:09] tsunghsienlee commented on #144
Hi @zorro786 ,

I think what you describe is definitely a valid issue for both problems, and this is a very keen observation in my opinion. We would discuss that and let you know that later.

[2019-12-30 02:35] tsunghsienlee commented on #136
Hi @deveshks ,

I think the explanation here could be better, and we would discuss to let you know. My understanding now is that your code without `time.sleep(random.random())` shall be good enough to demonstrate the deadlock. However, I think this definitely shall be more clearly written.

[2019-12-31 05:39] #145 closed

[2020-01-12 17:12] deveshks opened #151 "Incorrect time complexity calculation in 24.8 in Python book"
The time complexity for the problem `Justify Text` is stated to be O(n), where n is the sum of lengths of  the string in A.

But if we take a look at Line 14:
https://github.com/adnanaziz/EPIJudge/blob/f2c94dc79c9b7b162c48dff6b83a7c33f654d9aa/epi_judge_python_solutions/left_right_justify_text.py#L14

We are performing string concatenation by concatenating a space to the string `curr_line[i % max(l

[2020-01-13 03:05] tsunghsienlee commented on #151
This is a very good find.

The fix I will add in the next release is using a counter to count the numbers of spaces for each word shall append. Then, we could append those spaces only one time for each word.
[code]

[2020-01-13 05:53] deveshks commented on #151
@tsunghsienlee
Thanks for the response, We can also add each word as a list of characters into `curr_line`, and modifying the join condition as follows.
[code]

[2020-01-13 19:16] adnanaziz commented on #151
strictly speaking, the time complexity is not determinable, since it
depends on whether the python implementation keeps some buffer space for
this purpose.

I had the impression most/all implementations do keep this space, but from
this post, it's clear that some do not:
https://stackoverflow.com/questions/44487537/why-does-naive-string-concatenation-become-quadratic-above-a-certain-length,
so upd

[2020-01-13 19:27] deveshks commented on #151
Hi @adnanaziz
I assume you mean to say that when we are using string concatenations, the time complexity is not determinable, which is a fair assumption.

Can I submit a PR with the solution I proposed in https://github.com/adnanaziz/EPIJudge/issues/151#issuecomment-573518117 to the dev branch?

[2020-01-13 20:30] adnanaziz commented on #151
yes, that's what I was saying (though now that I think about it,
immutability of strings may force complexity to be quadratic.

PR to dev branch sounds good (we've had some back and forth on PR
methodology, @Tsung-Hsien Lee <tsung.hsien.lee@gmail.com> will know best)

cheers,
adnan

On Mon, Jan 13, 2020 at 11:27 AM Devesh Kumar Singh <
notifications@github.com> wrote:

[2020-01-14 03:48] deveshks commented on #151
Thanks @adnanaziz for the response.

Hi @tsunghsienlee , please let me know about the updated methodology of submitting a PR to the dev branch, and I will follow and submit the PR accordingly

[2020-01-14 06:13] tsunghsienlee commented on #151
Feel free to submit that as I was thinking which solution is better in terms of readability. I think yours is better but I need to think it more carefully as yours is depends on `List[List[str]]` now.

[2020-01-14 12:17] deveshks commented on #151
Hi @tsunghsienlee

Could you please let me know your concerns with `List[List[str]]`?

`curr_line` will be of type `List[List[str]]` because of `curr_line.append(list(word))` but I thought making a word a list of characters `List[str]` instead of a `str` which was before follows more intuitively to avoid the extra complexity of string concatenation. I also think that this would save some w.r.t to

[2020-01-14 17:30] tsunghsienlee commented on #151
Two dimensional structure is always more complicate than one dimensional ones. Especially the use case of this one is that for each entry `List[str]`, it is a list of one string (word), and a set of trailing white space characters (they are strings for sure as well). The structure is not intuitive for people in the first glance.

However, this is necessary as we are trying to escape from the time

[2020-01-14 17:43] deveshks commented on #151
Hi @tsunghsienlee

Thank you for the response. Let me submit a PR and I will add comments to the code signifying this subtletly, and you can review the PR for clarity and go from there

[2020-01-14 18:07] deveshks commented on #151
Hi @tsunghsienlee, @adnanaziz

I have submitted a PR to outline my fix. Please review the same at your convenience and I will address any concerns with the same on the PR

[2020-01-15 07:44] zorro786 opened #153 "Ambiguous problem statement for Search in two Sorted Arrays"
You are given two sorted arrays and a positive integer k. Design an algorithm for computing the kth smallest element in an array consisting of the elements of the initial two arrays arranged in sorted order. Array elements may be duplicated within and across the input arrays.

The problem statement doesn't specify if it should be kth smallest distinct element or kth element in combined sorted orde

[2020-01-15 08:12] zorro786 commented on #153
Also the file name should be KthSmallestElementInTwoSortedArrays and not KthLargestElementInTwoSortedArrays

[2020-01-16 02:17] FusionX9000 commented on #58
I'm not sure what I misunderstood. All the elements are distinct in the BST and if any of the descendant/ancestor nodes are equal to the middle (i.e. not proper ancestor/descendant), the function should immediately invalidate the input and returns false. Is that correct?

[2020-01-17 20:43] wilderfield opened #155 "is_string_permutable_to_palindrome.tsv corrupt?"
This is a **specific problem**

Problem: is_string_permutable_to_palindrome : Problem 13.1 in the book

- Please **classify issues**
(3.) Buggy test or buggy code, e.g.,  [tests for permutation problem have nonpermutation inputs](https://github.com/adnanaziz/EPIJudge/issues/57)

This is a strange issue, The test tsv file in the master branch does not seem to match what I can see in the web browser

[2020-01-19 00:13] tsunghsienlee commented on #155
Could you sync with the the master branch as I could see you have an outdated branch; therefore, the issue you mentioned seems irrelevant.

The test data I see now is quite different from your https://github.com/adnanaziz/EPIJudge/blob/master/test_data/is_string_permutable_to_palindrome.tsv

[2020-01-19 00:17] wilderfield commented on #155
I cloned the repo for the first time within the past two weeks.

The test data directory hasn’t changed in two months.

I don’t understand why my clone isn’t matching what is shown in the web
browser.

I cloned twice in two separate paths and see the problem in both clones.

On Sat, Jan 18, 2020 at 4:13 PM Tsung-Hsien Lee <notifications@github.com>
wrote:

[2020-01-19 00:19] tsunghsienlee commented on #155
Sorry that it seems you have some git issue that I could not help on. However, it is not that hard if you try to figure out how to merge branches from remote with your local one I guess.

[2020-01-21 08:08] tsunghsienlee commented on #153
Hi @zorro786 ,

About the file name issue, you are right that I just renamed it accordingly.

Conventionally, without explicitly specified distinct, kth element is pretty straightforward. I am surprised that mentioning arrays might have duplicates will cause confusions but we will look at that to see how could we either removing that or reword in a way to make it more clear.

[2020-01-24 11:03] alirezaghey commented on #114
hey @deveshks
Are you interested in sharing the workload with others in terms of programming language?
I know enough Java and C++ to rewrite them in Python while coming up with my own solutions in PY.

[2020-01-24 11:06] deveshks commented on #114
Sure, I can write up solutions for variants in Python, if you are able to chip in with solutions in Java/C++

[2020-01-24 11:11] alirezaghey commented on #114
To make sure I got you right: I provide solutions in Python, or rewrite **your** Java/C++ solution in Python.
Is that correct?

[2020-01-24 11:17] deveshks commented on #114
I was under the impression that you wanted to provide solutions in Java/C++.

I myself am not currently comfortable with Java/C++, but I am well versed with Python, so I can provide solutions in Python, and you provide solutions in Java/C++, and we can take the good bits from both and make PR's

[2020-01-26 19:38] tsunghsienlee commented on #155
Since you described does not match https://github.com/adnanaziz/EPIJudge/blob/master/test_data/is_string_permutable_to_palindrome.tsv so I will close this issue now.

[2020-01-26 19:38] #155 closed

[2020-01-26 22:41] zorro786 opened #156 "Draw the skyline problem incorrect test case"
The input to first test case contains the array [10, 85, 84]

The expected result contains:
.....[17, 24, 98], [25, 29, 84]....

It shows 24 - 25 as disjoint when it should have been [24, 25, 84] (or merged with other intervals)

[2020-01-27 03:20] tsunghsienlee commented on #156
There is no problem here since the interval is inclusive. [17, 24, 98] means the skyline from 17.0 to 24.9999 are in height 98. You could take a look of solution to understand why this works as well.

[2020-01-27 06:10] zorro786 commented on #156
@tsunghsienlee Doesn't inclusive interval [17, 24] mean 17.0000 -> 24.0000 ?

[2020-01-27 06:13] tsunghsienlee commented on #156
I think the inclusive probably is not the best wording here. You could think each coordinate (i.e., 17, 24) is a single unit (look at the bar in the picture). So the interval between 17 and 18 does not matter. That is the reason the result is in this way. I think the problem description might need more example on explaining this.

[2020-01-27 06:32] zorro786 commented on #156
I see so the output expectation is different. It would be really helpful if an example input/output is provided in question text. Because in merging intervals problem earlier the expectation of output is very different (similar to how I interpreted for this question), so it may not be easily evident.

[2020-01-27 19:20] mjnovice opened #157 "Problem No. 5.10, Apply Permutations Python"
Correct me if I am wrong. I am unable to understand the how the test case works on the solution provided.

A = [0,1, 2, 3, 4, 5]
P = [3, 5, 0, 4, 1, 2]

Expected A after permutation = [3, 5, 0, 4, 1, 2]
Actual A after permutation = [2, 4, 5, 0, 3, 1]

Please help correct my understanding if wrong. Posting it here, as I didn't find any good place to post it.

[2020-01-28 03:33] tsunghsienlee commented on #157
You misinterpret the parameter orderings. The first line of test data (https://github.com/adnanaziz/EPIJudge/blob/master/test_data/apply_permutation.tsv) shows it is permutation then A. It is also listed in https://github.com/adnanaziz/EPIJudge/blob/master/epi_judge_python_solutions/apply_permutation.py in the function signature.

[2020-01-28 03:33] #157 closed

[2020-01-28 14:47] SunHaozhe opened #158 "Incomplete test cases for "Test for cyclicity" / "is_list_cyclic.cc""
This is a specific problem.

The problem name is `Test for cyclicity`, which corresponds to `is_list_cyclic.cc`

The test cases are not complete such that some wrong solutions could be falsely classified as correct ones (false negative).

As an example, the following C++ solution is not correct.
[code]
However it passed all tests, as shown here:
<img width="1280" alt="false_negative" src="https://

[2020-01-29 17:47] mjnovice commented on #157
Thanks for the reply. But I have trouble understanding this

@tsunghsienlee could you please help clarify this. according to me, it should be (c,a,b,d). Thanks a ton!

[2020-01-29 17:54] mjnovice commented on #157
Nevermind, I got it. Thanks to The indices in the permutation actually represent where the element would move to after getting permuted.

[2020-02-02 05:29] tsunghsienlee commented on #158
Hi @SunHaozhe ,

The algorithm in your code is a correct one so that is the reason it passed the test case. About the two test cases you mentioned, your algorithm and the solution both find cycle in it, and the second test case is not a valid one, and you shall check the testing framework code to see how it parses the test data.

[2020-02-02 05:29] #158 closed

[2020-02-03 20:05] #66 closed

[2020-02-17 01:03] tsunghsienlee commented on #156
Hi @zorro786 ,

After examining this more, I think the output format definitely needs improvements and there are bugs in the corner cases that it will be released in the next release. Thanks for bring this up and catch our attention.

[2020-02-17 18:14] phx-srankin opened #160 "CMake instructions to build Visual Studio solution error due to missing CMakeLists.txt"
I believe this is a general issue rather than a specific problem but the distinction between these two isn't totally clear (unless problem actually refers to a problem from the book) in which case it is a general problem related to the install instructions/FAQ.

The README.md states,

"After installing CMake, open your terminal, go to `epi_judge_cpp` folder and run following commands:

    mkdir v

[2020-02-17 18:42] phx-srankin commented on #160
I didn't read the instructions as carefully as I thought. I missed the trailing `..` at the end of the cmake command line. Sorry.

[2020-02-17 18:42] #160 closed

[2020-03-04 02:10] jianlin opened #162 "Since JavaScript is so popular, can you make a judge program for it?"
Since JavaScript is every where, and interviewers generally accept JavaScript as solutions, and sometimes interviewers test candidates for vanilla Javascript or NodeJS programming skills, can you create a judge program for it too.

@metopa

[2020-03-04 07:08] BZAghalarov opened #163 "Apply Permutation"
Hi,

Following code from "5.10 Permute The Elements of an Array" .
This code snippet is not find in github code repo but it is given in book.
As you see the last 2nd line from code is not syntactically true.Because "else" condition has not if part.
Please help me to make code workable.

P.S At the same time I am interested in that why this solution doesn't exists in git?
[code]

[2020-03-04 18:41] jianlin opened #164 "Can the variant be added too"
There are variant questions in the book. Could some of the solutions be published for it too?

[2020-03-04 22:32] roblevintennis opened #165 "Local site doesn't show progress"
**specific problem**
Solved problems not shown in the canvas charts of the local site.

 - If the problem is with installation or execution, please give system information, i.e., OS, and language and build environment (including versions).

I don't think this matters for this issue, but...
[code]

 - Please describe the behavior you see, including screenshots (you can use Google Drive, GitHub, or

[2020-03-04 23:46] jianlin opened #166 "Every time I push to my forked repo, an email with Test Fail is sent to me"
@metopa

I did the parity problem:

[code]

and run it:

[code]

and two files are changed.  When I push:

https://github.com/jianlin/EPIJudge/commit/c94c77420f41a9c5e53a5b1fdbc50002de37922d#annotation_131280220131280220

Then an email with Error of Test Failed is sent to me:

Run failed for master (c94c774)
Repository: jianlin/EPIJudge
Workflow: Run Python programs
Duration: 44.0 seconds
Finished

[2020-03-05 10:10] metopa commented on #166
Hi @jianlin,
thank you for reporting this.

It is a kinda funny and silly mistake on our side - our CI pipeline checks that all stub programs fail (to check that we don't have a working solution in stub programs). But this is not correct when you start adding solutions.

I'll fix this soon, for now just ignore these errors or disable "Test stubs" CI stage (remove lines 40-42 from .github/workflows

[2020-03-05 10:40] jianlin commented on #166
@metopa thanks for checking this.   I noticed that it seems when the Python program just return 0, then all tests will pass.  It is a bit strange that... is this the mechanism to consider the program "not written yet"?  That's because, what if the solution attempted actually is returning 0 all the time (or the solution has a bug that always return 0)... then it'd be considered to be passing the te

[2020-03-06 06:27] jianlin commented on #166
Right now this work flow seems to work fine:

edit `epi_judge_python/sorted_array_remove_dups.py` and run `python3 <the-file.py>` to test it.

When done,

[code]
it will get into CI and then, the stub is removed too so there is no problem.

[2020-03-07 07:09] tsunghsienlee commented on #162
Hi @jianlin ,

We did our survey before, and the top three programming languages for interviews are actually what we have now. I would say Javascript and Go are tied at 4th place. Sadly that we are short on hands on implementing solutions in other languages but keep it high quality so we have to rely on community to do that.

[2020-03-07 07:09] #162 closed

[2020-03-07 07:13] tsunghsienlee commented on #163
Hi @BZAghalarov ,

In the later version of the book, we removed this since it is not that useful in the context of the problem, and we moved it to variant instead.

[2020-03-07 07:13] #163 closed

[2020-03-07 07:14] jianlin commented on #162
Thank you Tsung Hsien.  I love Taiwan by the way.
@tsunghsienlee

[2020-03-09 00:02] pbamotra commented on #64
How do I map chapter problems to program?

[2020-03-09 00:03] tsunghsienlee commented on #64
Language Platforms > C++ > Clang > Tools > ClangTidy > Checks

[2020-03-09 00:03] tsunghsienlee commented on #64
https://github.com/adnanaziz/EPIJudge#tracking-your-progress

[2020-03-21 14:47] FarsanRashid opened #168 "CPP version of Elias gamma coding problem is missing"
**specific problem**

Could not find cpp file for problem **ELIAS GAMMA CODING** problem from chapter five. Are all problems from the book available in the repository?

[2020-03-21 14:49] tsunghsienlee commented on #168
Hi @FarsanRashid ,

We removed this problem in the later version so that is the reason you would not find this in repository. IF you want, feel free to send me an email as I still keep this.

[2020-03-21 14:49] #168 closed

[2020-03-26 05:01] FarsanRashid opened #170 "Missing problem Invert A Permutation"
The version of the book I am reading has problem **Invert A Permutation** but it is not available in the current repository, Can I get the problem from somewhere else?

[2020-03-27 01:52] tsunghsienlee commented on #170
Hi @FarsanRashid ,

We did not provide code even back to the time we had that problem; there was only text solution (as you could see in your book as well) at that time. That is the reason so we could not provide any code here.

[2020-03-27 01:52] #170 closed, assigned to nobody

[2020-05-07 21:26] abuggin opened #172 "is_list_cyclic.py suspiciously simple solution passes all tests - Python"
- Please **classify issues**

Undecided between
(1.) Better solution
(3.) Buggy test or buggy code

**It passed all 102 tests**: if it is by chance we should be able to create a test case that would make it fail.

I tried to create additional test cases, but failed to make this solution fail.
Any discussion is welcome

[code]

[2020-05-21 18:21] sudocscode opened #177 "Enhancement : Web based version of EPIJudge"
It would be awesome if we make this as a web-server. Calling all the amazing web developers to contribute to the fork focused towards making it as web-app.
https://github.com/herohira/EPIJudge
We can integrate this project with,

- [ ] Ace Editor
- [ ] Docker based compilation and runtime
- [ ] Python Flask webserver
- [ ] Any other suggestions

[2020-05-29 11:53] snishal commented on #177
I am very interested in this idea, and I would love to be a part of it. I tried something like this but could not make a efficient system. I need someone who can help me out.

[2020-06-07 23:28] sagarsavla opened #178 "even_odd_array solution wont work if array contains all odd numbers in python"
even_odd_array solution wont work if array contains all odd numbers in python

Try running for A = [1,3,5,7] you will get [3,5,7,1]

[2020-06-12 17:58] deveshks commented on #178
Can you explain why do you think `[3,5,7,1]` is not the correct solution for `A = [1,3,5,7]` ?

The question states that `Your input is an array of integers, and you have to reorder its entries so that the even entries appear first`, and in your example, there are no even entries.

Also note that there is no order which has to be maintained within the even entries, or the odd entries in the final

[2020-06-12 18:46] sagarsavla commented on #178
Oh so order is not required to be maintained. Maybe I read it wrong then. I
thought order was supposed to be maintained.

On Fri, Jun 12, 2020 at 1:58 PM Devesh Kumar Singh <notifications@github.com>
wrote:

[2020-06-12 18:47] deveshks commented on #178
Yep, just the even values have to appear before odd values. I think you can go ahead and close the issue as well

[2020-06-13 01:11] sagarsavla commented on #178
Thanks for clarifying.

[2020-06-13 01:11] #178 closed, assigned to nobody

[2020-06-20 19:45] diegobes opened #179 "Any plans to write a book for Go ?"
Just wondering if you have any plan to write a Go version of the book.
I start solving the problems in Go and I can contribute the code and tests

Thanks

[2020-06-26 01:47] srikanthumich opened #180 "EPI python version. I don't see problem 9.17 (implement binary tree locking) problem in epi_judge_python."
I couldn't find problem 9.17 (implement binary tree locking) from the book in epi_judge_python. Can someone specify the filename (.py) if it's present? Thanks!

[2020-07-13 23:34] artxgj opened #182 "Bug: remove_duplicates.py's comp function inadvertently passes test when result is []"
I inadvertently found this bug because I forgot that python is not pass by reference when a list is passed to a method or function.  I ran a test on a partial solution and stumbled into this bug when I did A.clear() and returned it as a result. Next thing I know, I passed all of tests.

def eliminate_duplicate(A: List[Name]) -> None:
    A.clear() # my dummy test code
    return

def comp(expected

[2020-07-25 01:39] aarsheem opened #183 "Permission Issues while Executing C++ executables on CLion, OSX."
I am able to successfully build the Project but during the execution I get the error:

`Error running 'power_x_y': Cannot run program "/Volumes/.../power_x_y" (in directory "/Volumes/.../cmake-build-debug"): error=13, Permission denied`

The default file permissions for power_x_y are,
`-rw------`

If I manually change the permissions it works.
`chmod +x power_x_y`

I  am using CLion 2020.1.3 on OS

[2020-07-30 07:02] singhularAdi opened #184 "Dutch National Flag"
Dutch National Flag partition tests can be fooled by sorting.

- Adding an extremely large test case with time limits such that O(nlogn) algorithms fail should fix this.

[2020-08-07 13:42] p2327 opened #185 "CH17 Invariants has_two_sum.py wrong solution/test? Specific problem **buggy test**"
Hello

I am moving through the book and encountered what I believe is an oversight.

**Buggy test**
The task: given a list of numbers ```A```, find if two numbers exist in the list that add up to a value ```t```.

The book implementation:

[code]

My implementation:
[code]

The test case I am having trouble with:
[code]

What happens with the book solution is that ```4``` is checked twice as ```A[

[2020-08-15 04:33] jpulgarin opened #187 "ListNode.__eq__ goes into infinite loop when comparing cyclic lists"
This is a general problem with the `ListNode` class in `list_node.py`.

The implementation of `__eq__` has a while loop that never stops when comparing two cyclic linked lists. This is because it continues to follow `next` with no cycle detection.

[2020-08-16 00:54] nv-quan opened #188 "[string_integer_interconversion problem] The solution in the book does not pass all test cases"
The solution in the book does not check for the first '+' character, which appears in one of test cases (2/15002). And also I think the description in the book is not clear enough about all the ill-form input like "+4176473".

[2020-08-25 02:22] ghost opened #190 "problem 9.3 solution"
Can you check on problem 9.3 solution? The line (node0, node1).count(tree) gives the wrong output. If you can, can you please explain the answer ?

[2020-08-28 18:21] stefantds commented on #109
I implemented a Golang version of the EPI Judge (only testing framework, no solutions yet) using the test cases from this repo. It could be a starting point for a future support of Golang.
Feel free to give it a try. Feedback and contributions are welcome: https://github.com/stefantds/go-epi-judge

[2020-09-08 12:07] stefantds commented on #179
@diegobes according to [this](https://github.com/adnanaziz/EPIJudge/issues/109) it looks like the answer is no (just in case you haven't found it already).

FYI: I've implemented a EPI Judge for Golang, based on the test cases and logic in this repo. You might want to check it out. Feedback and contributions are welcome: https://github.com/stefantds/go-epi-judge

[2020-09-10 05:24] thesellersab opened #198 "Solution to maze search problem seems correct but EPI Judge test framework says the path is not valid"
Here is the path I find and message printed by test framework:
First column is row number for maze, 1P mean corrdinate selected as part of path. DFS is used for path and from path it is also clear that it is valid path,
   0: 1,  0,  1,  0,  1,
   1: 1,  1,  1,  0,  1,
   2: 1,  0,  0,  1,  0,
   3: 0,  1,  1,  1,  1,
   4: 0,  1,  1,  0,  0,
   5: 1,  1,  1,  1,  1,
   6: 0,  1,  1,  0,  1,
   7:

[2020-09-20 21:51] JoseMiralles opened #201 "Guide on how to compile with Visual Studio 2019."
I have VS 2019's CMake package installed. And as far as I understand, I'm supposed to open the `\epi_judge_cpp` folder in VS. Then I'm supposed to build all, but this generates a bunch of folders in a messy structure.

And when I try to run anything, I get an exception saying that the tests couldn't be found.

Is there a guide on how to do this for VS 2019?

[2020-12-03 16:57] sandeep-datta opened #202 "Bug: wildly fluctuating test times"
**Edit:** I just realized I may have been looking at the wrong metric. What does the 2 us in `Test PASSED (10001/10001) [ 2 us]` stand for?

**General issue**
**Classification:** Buggy performance testing code.
**Reproducible test case:**
./repro # https://gist.github.com/sandeep-datta/f9706238e7a65c0d6aad545fde533aae
Filtered output: https://gist.github.com/sandeep-datta/e3f956fda7210a401fbc70ab3

[2020-12-03 17:16] sandeep-datta commented on #202
I just realized I may have been looking at the wrong metric. What does the 2 us in `Test PASSED (10001/10001) [   2 us]` for?

[2020-12-07 22:11] 4xx31 commented on #202
I believe that 2 us stands for 2 microseconds (0.002 miliseconds).

[2020-12-08 09:56] metopa commented on #202
Hi @sandeep-datta , thank you for noticing that. Right now we're in the process of rewriting internal infrastructure. After that we'll improve the precision of measuring execution time.

[2020-12-19 11:31] sandeep-datta opened #204 "The total test case count in problem_mapping.js is not updated after new test cases have been added to a TSV file."
**General issue:** please see title.
**Classification:** buggy test framework code.
**Repro:** add a few test cases to any TSV file and look at the result shown by index.html. For example adding a few test cases with negative numbers to `epijudge/test_data/primitive_divide.tsv` will make index.html think you are failing the test even when you are actually passing all given test cases.

[2020-12-26 16:54] gan3i commented on #190
Hey I have tried this problem and it's giving the proper answer can you provide the scenario in which it's giving wrong answer?

[2020-12-26 17:03] gan3i opened #205 "search_student fucntion on page 147 returns wrong result."
import collections
    from typing import Tuple, List , Callable
    import bisect

    Student = collections.namedtuple("Student",('gpa','name'))

    def comp_gpa(student : Student ) -> Tuple[float, str]:
        return (-student.gpa, student.name)

    def search_student(students : List[Student], target : Student,
                    comp_gpa : Callable[[Student], Tuple[float, str]]):

[2020-12-26 17:39] ghost commented on #190
i figured it out though. It was a mistake in my part. Thanks

[2020-12-30 14:37] EnriqueOrtiz27 opened #206 "Python solution to sudoku solver fails to solve the whole sudoku."
This is a specific problem. With solution 15.10, Implement a Sudoku Solver, it should be noted that the algorithm is not able to solve a sudoku. When I comment the fourth to last line:

[code]

I can see how this functions fills a sudoku. I used the example provided by you on page 63, and available on the internet, which is a 2D array:

[code]

This configuration, as well as its solution, can be f

[2021-01-02 14:52] gan3i opened #208 "Space complexity of BFS approach for problem 14.1 is O(n) or O(w)?"
The BFS approach of is_binary_tree_bst function stores nodes in a queue but queue will never hold all the nodes at any point, so stating the space complexity as O(w) where w is the width of tree is more precise than O(n), please correct me if my understanding is wrong.

[2021-04-09 20:41] minhbtnguyen opened #210 "Tutorial on running EPIJudge on VS2019"
Since I was struggling in solving my compilation issue with EPIJudge (C++) and now got it working on VS2019, I just post on details steps on how to run and compile EPIJudge C++ on VS2019. Besides the instruction on this package's README.md, these steps may be helpful for some of you:

1/ I assumed that you either have VS2019 (I used) or VS2017

2/ I assumed that you fork the EPIJudge to your git r

[2021-04-18 12:07] mtorabirad commented on #205
@gan3i I am also having problems with the search_student function. What is it even supposed to do?

[2021-04-18 12:17] mtorabirad commented on #205
@gan3i what does search_student function is even supposed to do?

[2021-04-18 13:48] gan3i commented on #205
@mtorabirad search_student is supposed to check if the target(combination of gpa and name) is in the students list and return true incase it is present otherwise return false.

[2021-05-20 05:24] TimothyHou opened #211 "Possible to measure multiple solutions?"
Would like to suggest new feature to measure the speed of multiple solutions in parallel

[2021-05-20 15:47] msnitish opened #212 "Manually Include Header files for C++"
**General Issue**

- How can we add the header file <bits/stdc++.h> manually ?
- Which folder holds all the header files ?

[2021-05-31 06:14] dgargdipin commented on #210
I got it working on VS 2019 with the command `cmake -G "Visual Studio 16 2019" ..`

[2021-06-14 04:15] geofflangenderfer opened #213 "`Critical error(RuntimeError): Can't find test data directory`"
[code]
I'm making a new language judge

- What is producing this error?
- any advice on finding spot error was triggered?

[2021-06-14 04:37] #213 closed, assigned to nobody

[2021-06-14 04:38] geofflangenderfer commented on #213
within the `epi_judge_ocaml` directory,

running `make <question>` works

[2021-07-30 19:53] HugoOsornio opened #214 "6.1 C++ RunTests throws an unhandled exception with Visual Studio 2019"
Using:
Microsoft Visual Studio Community 2019
Version 16.6.3

string_integer_interconversion tests throw an unhandled exception when the test framework tries to send a "0" "+0" "-0" "0" to the user coded functions.

Test UNHANDLED EXCEPTION (  202/15002) class std::invalid_argument
Arguments
        x:                 0
        s:                 "0"

Failure info
        exception message: invali

[2021-08-02 20:47] ashaychangwani opened #215 "Critical Exception thrown with Java code on Intellij Idea 2021"
[code]

The above error is thrown when I run the following code:

[code]

All test cases pass, but during the calculation of the result, the error gets thrown. Please let me know if anymore details are required.

[2021-08-02 20:56] ashaychangwani commented on #215
My apologies, seemed to happen because problem_mapping.js got replaced with a blank file. No clue how that happened. Not an issue with the repo.

[2021-08-02 20:56] #215 closed, assigned to nobody

[2021-09-04 22:11] gelpenaddict opened #217 "add constraints as comments"
Some problems have constraints and it'd be helpful to mention it in the starter code as comments.

Example:
https://github.com/adnanaziz/EPIJudge/blob/master/epi_judge_python/convert_base.py

The function takes parameters num_as_string, b1, b2. The problem states that 2<=b1, b2<=16.
It'd be helpful to have those constraints as code comments.

[2021-09-12 05:21] gelpenaddict opened #218 "Python tests not showing failing test case"
If the code has an infinite loop or other Python/Pycharm hanging issue (not sure exactly why but using `!=` for `ListNode`'s instead of `is not`), the test also hangs but does not print out the test case.

That makes troubleshooting very difficult as I have to put a breakpoint and run through test cases until I get to the failure.

It'd be helpful to just run the test case that failed by printing

[2021-10-25 07:27] spacelg opened #220 "EPIJudge failed to run C++ test 'count_inversions.exe' with MSVC on windows"
Hi All,

Environment:
VS 2019 + Windows Server 2016

EPIJudge failed to run C++ test 'count_inversions.exe' with MSVC on windows. It can be reproduced on latest version b736406 on master branch. Could you please help look at this issue?

**Repro steps:**
1.  git clone https://github.com/adnanaziz/EPIJudge F:\gitP\adnanaziz\EPIJudge
2.  cd F:\gitP\adnanaziz\EPIJudge\epi_judge_cpp_solutions && mkdir

[2021-10-25 07:29] spacelg commented on #220
We can fix this test issue as below.

This function (in count_inversions.cc):
int CountSubarrayInversions(int start, int finish, vector<int>* A_ptr) {

has several function calls in one expression. Compiler is allowed to call those fuctions in any order.
If you re-write the function like this:

int CountSubarrayInversions(int start, int finish, vector<int>* A_ptr) {
  if (finish - start <= 1) {

[2021-10-28 06:23] sandredd opened #222 "Issue with EPI Judge Java code"
I see below error after all test cases are passed. I have cloned a new copy and tried and i get same results.

Critical error(epi.test_framework.minimal_json.ParseException): Unexpected end of input at 1110:20
epi.test_framework.minimal_json.ParseException: Unexpected end of input at 1110:20
	at epi.test_framework.minimal_json.JsonParser.error(JsonParser.java:478)
	at epi.test_framework.minimal_js

[2021-11-06 23:29] Abhilash-Mandlekar opened #223 "11.7 Finding MIN MAX simultaneously. Isn't this a better way ?"
This solution passes all the test cases. It has O(N) time and O(1) space. I wonder if this is more readable solution:

`public static MinMax findMinMax(List<Integer> A) {
    Integer min = Integer.MAX_VALUE;
    Integer max = Integer.MIN_VALUE;

    for(int n: A){
      if(n<min)
        min = n;

      if(n>max)
        max = n;
    }
    return new MinMax(min, max);
  }`

(I was asked this quest

[2021-11-06 23:34] #223 closed, assigned to nobody

[2021-12-18 01:43] soohoonc commented on #79
I just had this issue as well on Windows using VSCode and MinGW. However using WSL to run make seems to fix the problem for me.

[2021-12-31 03:48] zorro786 commented on #215
@ashaychangwani This looks like an actual issue, happened with me too several times. Even after replacing the file, over time this error appears again - I verified today after replacing the mapping file.

[2021-12-31 03:49] zorro786 commented on #222
Facing same in IntelliJ Idea 2021. Looks like the `problem_mapping.json` file is being overwritten or corrupted somehow. Similar issue: https://github.com/adnanaziz/EPIJudge/issues/215
@adnanaziz @tsunghsienlee

[2022-01-21 05:41] drogers141 opened #224 "Python solution of Advancing Through an Array fails EPIJudge tests"
The solution for Advancing Through an Array (5.4 page 44) as written fails the first test.

I copied the solution from the text as:

[code]
I ran the test using advance_by_offsets.py in epi_judge_python

This results in the test output:
[code]

I have a solution that passes all the tests, which I'm happy to share if that is useful.  Your solution does a single pass over the array.  This seems awes

[2022-01-21 05:55] drogers141 commented on #224
I just noticed that the test that failed is the array that was used as an example in the book as well.

[2022-03-15 00:32] neonZen opened #229 "Simplified boolean logic?"
First off, thank you so much for all the time and effort building and maintaining this repo. It's been a huge boon to my learning in problem solving and algorithmic approaches. I had one small comment regarding one of the C++ solutions. For the problem [string_integer_interconversion](https://github.com/adnanaziz/EPIJudge/blob/b736406dfb6e8e6be2612e8a57e710baf90a2d3e/epi_judge_cpp_solutions/string

[2022-04-13 06:51] yadunandanbhat commented on #229
Yes thats would look better too! I would like to help!

[2022-05-28 07:33] chetnashah opened #234 "Wrong test case 2 in lru cache problem"
** specific problem**

LRU cache problem test data(https://github.com/adnanaziz/EPIJudge/blob/master/test_data/lru_cache.tsv):

Test case no. 2:

[["LruCache", 3, 0], ["insert", 5, 623], ["lookup", 5, 623], ["erase", 1, 0], ["lookup", 4, -1], ["lookup", 6, -1], ["insert", 4, 981], ["insert", 5, 550], ["lookup", 2, -1], ["lookup", 5, 623], ["erase", 3, 0]]

Here after last insert via ["insert", 5,5

[2022-07-24 00:58] dangdennis commented on #162
For my own personal needs, I'm working on a fork to add a test suite for the javascript side with Deno. It'll ensure the easiest way to get started without external 3rd party dependencies.

[2022-09-01 19:19] ArshaShiri opened #237 "Unexpected performance metrics for "sorted_arrays_merge" in C++"
Hello and thank you for this great resource.
I implemented a simple brute-force solution for "sorted_arrays_merge" problem in C++ as below:

[code]
I get the following metrics on my machine for this solution and use the default compiler flags:

[code]

If I run the provided solution, I get these metrics:

[code]
I tried to improve the runtime of the provided solution by using a class like this to